<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404错误</title>
    <style>
        .box-404{padding: 50px 0; text-align: center;}
        .error-404{width:480px; margin: 0 auto; line-height: 2;}
        .title-404{font-size: 24px; color: #EA4335;}
        .text-404{font-size: 16px; color:#333;}
        .btn-404{padding-top: 20px;}
        .btn-404 a{padding: 3px 20px; font-size: 14px; display: inline-block; background-color: #EA4335; color: #fff; margin-right: 30px; border-radius: 4px; text-decoration: none;}
        .btn-404 a:hover{opacity: .9;}
    </style>
</head>
<body>
<div class="box-404">
    <div><img src="/static/home/images/404.gif" width="500" height="300" alt="404"></div>
</div>
<div class="error-404">
    <div class="title-404">出错啦！</div>
    <div class="text-404">对不起，您要访问的页面不见了...</div>
    <div class="btn-404"><a href="javascript:history.go(-1);">返回上一页</a><a href="/index">返回首页</a></div>
</div>
</body>
</html>