{extend name="../../base/view/common/base" /}
{block name="style"}
<style>
.layui-table-form th{text-align:center; background-color:#f8f8f8;}
.layui-table-form td{text-align:center;}
</style>
{/block}
<!-- 主体 -->
{block name="body"}
<div class="p-page">
	<div class="layui-card border-x border-t" style="margin-bottom:0; box-shadow:0 0 0 0 rgb(5 32 96 / 0%)">
		<div class="layui-tabs layui-tab-brief" id="tab">
			<ul class="layui-tabs-header">
				<li class="layui-this"><a href="/user/personal/statistics">人事报表</a></li>					
				<li><a href="/user/personal/in_out">入职/离职分析</a></li>
			</ul>
		</div>
	</div>
	<div class="layui-row border" style="background-color:#fff; margin-top:12px;">
		<div class="layui-col-xs4">
			<div id="sex" class="chart-box" style="width: 100%; height:360px;" data-type="pie" data-types="1" data-url="/user/api/statistics"></div>
		</div>
		<div class="layui-col-xs4">
			<div id="age" class="chart-box" style="width: 100%; height:360px;" data-type="pie" data-types="2" data-url="/user/api/statistics"></div>
		</div>
		<div class="layui-col-xs4">
			<div id="staff" class="chart-box" style="width: 100%; height:360px;" data-type="pie" data-types="3" data-url="/user/api/statistics"></div>
		</div>
	</div>
	<div class="border-x border-t" style="background-color:#fff; margin-top:15px;">
		<div id="chartDepartments" class="chart-box" data-types="0" style="width: 100%; height:398px;" data-type="bar" data-url="/user/api/statistics"></div>
	</div>
    <table class="layui-table layui-table-form" id="excel_table_1">
		<tr>
			<th colspan="{:count($departments)+1}" align="center">
				<strong>公司总人数：{$total} 人</strong> <input type="button" class="layui-btn layui-btn-xs to-excel" value="导出报表" data-id="1" data-title="公司各部门人数报表">
			</th>
		</tr>
		<tr>
			<th>部门</th>
			{volist name="$departments" id="vo"}
			<th>{$vo.title}</th>
			{/volist}
		</tr>
		<tr>
			<th>人数</th>
			{volist name="$departments" id="vo"}
			<td>{$vo.users}</td>
			{/volist}
		</tr>
    </table>
</div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script src="/static/assets/third_party/echart/echarts.min.js"></script>
<script>
	const moduleInit = ['tool','excel'];	
	//加载有数据
    function initBoxData() {
		var index = layer.load(0, {shade: false});
		  setTimeout(function(){
			layer.close(index);
		}, 1000);
        $('.chart-box').each(function(){
            var id  =$(this).attr("id");
            ajaxCharts(id);
        });
    }

	var chartsData={
		"title": {
			"text": "人员"
		},
		"series": {}
	};
	
    function ajaxCharts(id) {
        var that=$('#'+id+'');
        var type=that.data('type');
        var types=that.data('types');
        var target=that.attr('data-url');
        $.ajax({
            type: "GET",
            url: target,
            data: {'types':types},
            dataType: "json",
            async: false,
            success: function (e) {
				if(e.code==0){
					chartsData=e.data;
				}
            },
            complete: function () {

            }
        });
		// 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById(id));
		switch (type) {
			case 'bar':
                option = {
                    title: {
                        text: chartsData.title.text,
						left: '12px',
						top:'12px'
                    },
					grid: {
						top: '60px',
						left: '1%',
						right: '2%',
						bottom: '3%',
						containLabel: true
					},
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    legend: {
                        data: chartsData.legend
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: chartsData.xaxis,
                            axisTick: {
								alignWithLabel: true
							}
                        }
                    ],
                    yAxis:chartsData.yaxis,
                    series:chartsData.series
                };
				myChart.setOption(option);
             break;
			case 'pie':
				option = {
					title: {
						text: chartsData.title.text,
						left: '12px',
						top:'12px'
					},
					tooltip: {
						trigger: 'item'
					},
					legend: {
						orient: 'vertical',
						top: '50px',
					    left: '15px',
					},
					series: [
						{
							// name: 'Access From',
							type: 'pie',
							radius: '60%',
							data:chartsData.series.data,
							emphasis: {
								itemStyle: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								}
							}
						}
					]
				};

				if (option && typeof option === 'object') {
					myChart.setOption(option);
				}
				break;
		}

	}
	
	function gouguInit() {
		var tool = layui.tool,form  = layui.form,excel  = layui.excel;
		$('body').on('click','.to-excel',function(){
			var tableid=$(this).data('id');
			var tableName=$(this).data('title');
			excel.init('excel_table_'+tableid, {
				name:tableName,
				nested: true,
				exclude_inputs: false
			});
			return false;
		});
		initBoxData();
	}
</script>
{/block}
<!-- /脚本 -->