{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}

<div class="p-page">
	<form class="layui-form gg-form-bar border-x border-t" id="barsearchform" lay-filter="barsearchform">
		<div class="layui-input-inline" style="width:172px;">
			<input type="text" class="layui-input" data-range="~" placeholder="最近跟进" readonly name="follow_time" id="follow_time">
		</div>
		<div class="layui-input-inline" style="width:120px;">
			<select name="source_id">
				<option value="">线索来源</option>
				{volist name=":get_base_data('customer_source')" id="v"}
				<option value="{$v.id}">{$v.title}</option>
				{/volist}
			</select>
		</div>
		<div class="layui-input-inline" style="width:272px;">
			<input type="text" name="keywords" placeholder="输入关键字，线索名称/联系电话" class="layui-input" autocomplete="off" />
		</div>
		<div class="layui-input-inline" style="width:148px">
			<input type="hidden" name="order_field" value=''>
			<input type="hidden" name="order_type" value=''>
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="table-search"><i class="layui-icon layui-icon-search mr-1"></i>搜索</button>
			<button type="reset" class="layui-btn layui-btn-reset" lay-filter="table-reset">清空</button>
		</div>
	</form>
	<table class="layui-hide" id="table_customer" lay-filter="table_customer"></table>
</div>

<script type="text/html" id="toolbarDemo">
<div class="layui-btn-group">
  	<button class="layui-btn layui-btn-sm tool-add" type="button" data-href="/customer/clue/add"><i class="layui-icon">&#xe624;</i>添加线索</button>
	<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="import"><i class="layui-icon">&#xe66f;</i>批量导入</button>
	<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="trash"><i class="layui-icon">&#xe609;</i>转入废弃池</button>
	<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="allot"><i class="layui-icon">&#xe770;</i>分配</button>
	<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="get"><i class="layui-icon">&#xe770;</i>获取</button>
  </div>
</script>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool','tablePlus','oaPicker','uploadPlus','laydatePlus'];
	function gouguInit() {
		var table = layui.tablePlus, tool = layui.tool ,form = layui.form, uploadPlus=layui.uploadPlus,oaPicker=layui.oaPicker,laydatePlus=layui.laydatePlus;
		var follow_time = new laydatePlus({'target':'follow_time'});
		layui.pageTable = table.render({
			elem: "#table_customer"
			,title: '公海线索列表'
			,toolbar: "#toolbarDemo"
			,url: "/customer/clue/sealist"
			,defaultToolbar: false
			,height: 'full-114'
			,autoSort: false
			,cols:[
				[ //表头
					{type:'checkbox',fixed:'left'},
					{field: 'id',title: 'ID号',align: 'center',width: 80},
					{
						field: 'name',
						title: '线索名称',
						minWidth:300
					},{
						field: 'mobile',
						title: '联系电话',
						align: 'center',
						width: 100
					},{
						field: 'follow_time',
						title: '最近跟进时间',
						align: 'center',
						width: 120
					},{
						field: 'source',
						title: '线索来源',
						align: 'center',
						width: 100
					},{
						field: 'create_time',
						title: '创建时间',
						align: 'center',
						width: 150
					},{
						field: 'admin_name',
						title: '创建人',
						align: 'center',
						width: 90
					},{
						field: 'right',
						fixed:'right',
						title: '操作',
						width: 90,
						align: 'center',
						templet: function (d) {
							var html = '<div class="layui-btn-group">';
							var btn0='<span class="layui-btn layui-btn-xs layui-bg-blue" lay-event="view">查看</span>';
							var btn1='<span class="layui-btn layui-btn-xs" lay-event="get">获取</span>';
								return html+btn0+btn1+'</div>';
						}						
					}
				]
			]
		});
			
		let callback = function (e) {
			layer.msg(e.msg);
			if (e.code == 0) {
				layui.pageTable.reload();
			}
		}
		//表头工具栏事件
		table.on('toolbar(table_customer)', function(obj){
			var checkStatus = table.checkStatus(obj.config.id);
			if (obj.event === 'import') {
				let importUpload = new uploadPlus({
					"title":'批量导入线索',
					"use":'import',
					"url":'/api/import/import_clue/type/sea',
					"import":{
						"template":'/static/home/file/勾股OA线索导入模板.xlsx',
						"tips":'如果导入失败，请根据提示注意检查表格数据，线索来源、所属行业、需要是系统中存在的数据，如果不存在的话可能会导入失败。'
					},
					callback:function(res){
						layui.pageTable.reload();
					}
				});	
				return;				
			}
			var data = checkStatus.data;
			if(data.length==0){
				layer.msg('请选择要操作的线索');
				return false;
			}
			var idArray=[];
			for(var i=0;i<data.length;i++){
				idArray.push(data[i].id);
			}
			if (obj.event === 'trash') {
				layer.confirm('您确定要把选中的线索移入废弃池?', {
					icon: 3,
					title: '提示'
				}, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layui.pageTable.reload();
						}
					}
					tool.post("/customer/clue/to_trash", {id: idArray.join(',')}, callback);
					layer.close(index);
				});
			}
			if (obj.event === 'allot') {
				oaPicker.employeeInit({
					callback:function(selected){
						//这里是选择后的回调方法，可以根据具体需求自定义写哦
						let select_id=[],select_name=[],select_did=[];
						for(var a=0; a<selected.length;a++){
							select_id.push(selected[a].id);
							select_name.push(selected[a].name);
							select_did.push(selected[a].did);
						}
						layer.confirm('确定要把选中的线索分配给'+select_name.join(',')+'?', {
							icon: 3,
							title: '提示'
						}, function(index) {
							tool.post("/customer/clue/to_allot", {id: idArray.join(','),uid:select_id.join(','),did:select_did.join(',')}, callback);
							layer.close(index);
						});
					}
				});
			}
			if (obj.event === 'get') {
				oaPicker.employeeInit({
					callback:function(selected){
						//这里是选择后的回调方法，可以根据具体需求自定义写哦
						let select_id=[],select_name=[],select_did=[];
						for(var a=0; a<selected.length;a++){
							select_id.push(selected[a].id);
							select_name.push(selected[a].name);
							select_did.push(selected[a].did);
						}
						layer.confirm('确定要获取选中的线索?', {
							icon: 3,
							title: '提示'
						}, function(index) {
							tool.post("/customer/clue/to_get", {id: idArray.join(',')}, callback);
							layer.close(index);
						});
					}
				});
			}
		});	
			
		table.on('tool(table_customer)',function (obj) {
			var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
			var data = obj.data;
			if (obj.event === 'view') {
				tool.side("/customer/clue/view?id="+data.id);
				return;
			}
			if (obj.event === 'get') {
				tool.post("/customer/clue/to_get", {id: data.id}, callback);
				return;
			}
		});
	}
</script>
{/block}
<!-- /脚本 -->