{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-page">
	<h3 class="pb-2">黑名单</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">姓名<font>*</font></td>
			<td><input type="text" name="name" class="layui-input" placeholder="请输入姓名" lay-verify="required" lay-reqText="请输入姓名" value="{$detail.name|default=''}"></td>
			<td class="layui-td-gray-2">手机号码<font>*</font></td>
			<td><input type="text" name="mobile" placeholder="请输入身份证号码" class="layui-input" lay-verify="required|mobile" lay-reqText="请输入手机号码" value="{$detail.mobile|default=''}"></td>
			<td class="layui-td-gray-2">身份证号码</td>
			<td><input type="text" name="idcard" placeholder="请输入身份证号码" class="layui-input" lay-verify="identity" value="{$detail.idcard|default=''}"></td>
		</tr>
		<tr>
			<td class="layui-td-gray">备注说明</td>
			<td colspan="5"><textarea name="remark" placeholder="请输入备注说明" class="layui-textarea">{$detail.remark|default=''}</textarea></td>
		</tr>
	</table>
	<div class="pt-4">
		<input type="hidden" name="id" value="{$detail.id|default=0}"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];

	function gouguInit() {
		var form = layui.form, tool = layui.tool;
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			let clickbtn = $(this);
			tool.post("/user/blacklist/add", data.field, callback,clickbtn);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->