{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">消息详情</h3>
	<table id="messageTable" class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">消息主题</td>
			<td colspan="3">{$detail.title|default=''}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">消息类型</td>
			{eq name="$detail.message_id" value="0"}
			<td class="yellow">系统消息</td>
			{else/}
			<td class="blue">个人消息</td>
			{/eq}
			<td class="layui-td-gray">发送时间</td>
			<td>{$detail.create_time|default=''}</td>
		</tr>
		{gt name="$detail.message_id" value="0"}
		<tr>
			<td class="layui-td-gray">发件人</td>
			<td>{$detail.from_uname|default=''}</td>
			<td class="layui-td-gray">收件人</td>
			<td>
				{eq name="$message.types" value="1"}
				<span class="layui-color-1">『同事』</span>{$message.unames|default=''}
				{/eq}
				{eq name="$message.types" value="2"}
				<span class="layui-color-2">『部门』</span>{$message.dnames|default=''}
				{/eq}
				{eq name="$message.types" value="3"}
				<span class="layui-color-3">『岗位』</span>{$message.pnames|default=''}
				{/eq}
			</td>
		</tr>
		{notempty name="$message.copy_names"}
		<tr>
			<td class="layui-td-gray">抄送人</td>
			<td colspan="3">{$message.copy_names|default=''}</td>
		</tr>
		{/notempty}
		{/gt}
		<tr>
			<td class="layui-td-gray">消息内容</td>
			<td colspan="3">
				<pre style="font-family:inherit">{$detail.content|default=''}</pre>
				{gt name="$detail.template" value="0"}
					{:get_message_link($detail.template,$detail.action_id)}
				{/gt}
			{if condition="($detail.msg_id > 0)"}		
				<table class="layui-table" style="margin-top:10px">
				<tr>
					<td class="layui-td-gray-2">引用消息内容</td>
					<td>
						<pre style="font-family:inherit">{$detail.from_content}</pre>
						{gt name="$detail.from_template" value="0"}
						{:get_message_link($detail.from_template,$detail.from_action_id)}
						{/gt}
					</td>
				</tr>
				{notempty name="$detail.from_file_array"}
				<tr>
					<td class="layui-td-gray" style="vertical-align:top">引用消息附件</td>
					<td>
						<div class="layui-row">
							{volist name="$detail.from_file_array" id="vo"}
							<div class="layui-col-md4" id="uploadImg{$vo.id}">{:file_card($vo,'view')}</div>
							{/volist}
						</div>
					</td>
				</tr>
				{/notempty}
				</table>
			{/if}
			</td>
		</tr>
		{notempty name="$detail.file_ids"}
		<tr>
			<td class="layui-td-gray">消息附件</td>
			<td colspan="3">
				<div class="layui-row">
					{volist name="$detail.file_array" id="vo"}
					<div class="layui-col-md4">{:file_card($vo,'view')}</div>
					{/volist}
				</div>
			</td>
		</tr>
		{/notempty}
	</table>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		parent.layui.pageTable.reload();
	}		
	</script>
{/block}
<!-- /脚本 -->