{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<div class="p-page">
	<div class="body-table layui-tab layui-tab-brief border" lay-filter="tab" style="background-color:#fff; margin:0; border-bottom:0">
		<ul class="layui-tab-title" style="border:none;">
			<li class="layui-this">全部</li>
			<li>待审批</li>
			<li>审批通过</li>
			<li>审批拒绝</li>
		</ul>				
	</div>
	<form class="layui-form gg-form-bar border-t border-x" lay-filter="barsearchform">
		<div class="layui-input-inline" style="width:200px">
			<input type="text" name="uname" value="" placeholder="请选择员工" readonly class="layui-input picker-admin" autocomplete="off" />
			<input type="text" name="uid" value="0" style="display:none" />
			<input type="hidden" name="status" value="0" />
		</div>
		<div class="layui-input-inline" style="width:150px;">
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="table-search"><i class="layui-icon layui-icon-search mr-1"></i>搜索</button>
			<button type="reset" class="layui-btn layui-btn-reset" lay-filter="table-reset">清空</button>
		</div>
	</form>
	<table class="layui-hide" id="test" lay-filter="test"></table>
</div>
<script type="text/html" id="toolbarDemo">
<h3 class="h3-title" style="height:28px;">我申请的审批</h3>
</script>						
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
	<script>
	const moduleInit = ['tool','oaPicker','tablePlus'];
	function gouguInit() {
		var table = layui.tablePlus, tool = layui.tool ,element=layui.element;
			
		element.on('tab(tab)', function(data){
			$('[name="status"]').val(data.index);
			$('[lay-filter="table-search"]').click();
			return false;
		});
			
		layui.pageTable = table.render({
			elem: '#test'
			,toolbar: false
			,defaultToolbar: false
			,title:'全部审批列表'
			,url: "/home/approve/all"
			,page: true //开启分页
			,limit: 20
			,cellMinWidth: 80
			,height: 'full-152'
			,cols: [[
					{field:'types_name',title: '审批类型',width:100, align:'center'}
					,{field:'check_status',title: '审核状态',width:110, align:'center',templet: function(d){
						var html = '<span class="check-status-color-'+d.check_status+'">『'+d.check_status_str+'』</span>';
						return html;
					}}
					,{field:'admin_name',title: '申请人',width:90,align:'center'}
					,{field:'create_time',title: '申请时间',width:150,align:'center'}
					,{field:'department',title: '所属部门',width:120,align:'center'}
					,{field:'check_users',title: '当前审批人'}
					,{field:'check_copy_users',title: '抄送人员',width:150}
					,{width:60,title: '操作', align:'center',templet: function(d){
						var btn='<a class="layui-btn layui-btn-xs layui-btn-normal side-a" data-href="'+d.view_url+'?id='+d.id+'">详情</a>';
						return btn;
					}}
				]]
			});
		}
	</script>
{/block}
<!-- /脚本 -->