{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<div class="p-page">
	<div class="layui-card border-x border-t" style="margin-bottom:0; box-shadow:0 0 0 0 rgb(5 32 96 / 0%)">
		<div class="body-table layui-tab layui-tab-brief" lay-filter="tab">
			<ul class="layui-tab-title">
				<li class="layui-this">个人绩效</li>
				<li><a href="/performance/records/mylist?tab=1">待我填写的绩效</a></li>
				<li><a href="/performance/records/mylist?tab=2">待我审核的绩效</a></li>
			</ul>
		</div> 
	</div>
	<div style="margin-top:-1px;">
		<table class="layui-hide" id="table_records" lay-filter="table_records"></table>
	</div>
</div>
<script type="text/html" id="toolbarDemo">
	<h3>绩效数据</h3>
</script>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool','tablePlus'];
	function gouguInit() {
		var table = layui.tablePlus, tool = layui.tool;
		
		layui.pageTable = table.render({
			elem: "#table_records"
			,title: '绩效数据列表'
			,toolbar: "#toolbarDemo"
			,url: "/performance/records/mylist"
			,page: false
			,cellMinWidth: 80
			,height: 'full-96'
			,cols: [[
				{field:'name',fixed:'left',title: '员工姓名',width:80, align:'center'}
				,{field:'department',title: '所在部门',minWidth:100, align:'center'}
				,{field:'position',title: '职位',width:100, align:'center'}
				,{field:'status_name',title: '当前状态',width:120, align:'center',ignoreExport:true,templet: function (d) {
						var html = '<span class="check-status-color-'+d.status+'">'+d.status_name+'</span>';
						return html;
					}
				}
				,{field:'final_score', title: '绩效考核总分',width:100,align:'center',style: 'background-color:#F3FFFA'}
				,{field:'final_kpi_score', title: 'KPI得分',width:80,align:'center',style: 'background-color:#F3FFFA'}
				,{field:'final_action_score', title: '任务考核得分',width:100,align:'center',style: 'background-color:#F3FFFA'}
				,{field:'final_event_score', title: '例外事件考核得分',width:130,align:'center',style: 'background-color:#F3FFFA'}
				,{field: 'kpi_uname', title: 'KPI收集人',align:'center', width:80}
				,{field: 'action_uname', title: '行为态度评价人',align:'center', width:110}
				,{field: 'event_uname', title: '例外事件收集人',align:'center', width:110}
				,{field: 'check_uname', title: '行政审核人',align:'center', width:90}
				,{width:90,fixed:'right',title: '操作', align:'center',ignoreExport:true,templet: function(d){
					var btn1='<a class="layui-btn layui-btn-xs" lay-event="add">编辑</a>';
					var btn2='<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view">详细</a>';
					var html = '<div class="layui-btn-group">'+btn1+btn2+'</div>';
					return btn2;
				}}
			]]
		});
		
		table.on('tool(table_records)',function (obj) {
			var data = obj.data;
			if (obj.event === 'view') {
				tool.side("/performance/records/view?id="+data.id);
			}
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->