{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<div class="layui-form p-page">
	<h3 class="pb-2">付款详情</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray-2">付款交易单号</td>
			<td colspan="3">{$detail.transaction_code}</td>
			<td class="layui-td-gray-2">付款金额</td>
			<td class="blue">{$detail.amount} 元</td>
		</tr>
		<tr>
			<td class="layui-td-gray">款项类型</td>
			<td>{$detail.fundscate}</td>
			<td class="layui-td-gray">付款方式</td>
			<td>{$detail.paytype}</td>
			<td class="layui-td-gray">付款时间</td>
			<td>{$detail.pay_time}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">付款主体</td>
			<td colspan="3">{$detail.subject}</td>
			<td class="layui-td-gray">付款账户</td>
			<td>{$detail.account|default=''}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">关联进项发票</td>
			<td colspan="3">{$detail.ticket|default='-'}</td>
			<td class="layui-td-gray-2">关联供应商</td>
			<td>{$detail.supplier|default='-'}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">关联采购合同</td>
			<td colspan="3">{$detail.purchase|default='-'}</td>
			<td class="layui-td-gray">关联项目</td>
			<td>{$detail.project|default='-'}</td>
		</tr>
		{notempty name="$detail.remark"}
		<tr>
			<td class="layui-td-gray">备注信息</td>
			<td colspan="5">{$detail.remark}</td>
		</tr>
		{/notempty}
		{notempty name="$detail.file_ids"}
		<tr>
			<td class="layui-td-gray">相关附件</td>
			<td colspan="5" style="padding:4px 2px;">
				<div class="layui-row">
					{volist name="$detail.file_array" id="vo"}
					<div class="layui-col-md4" id="uploadFile{$vo.id}">{:file_card($vo,'view')}</div>
					{/volist}
				</div>
			</td>
		</tr>
		{/notempty}
		{eq name="$detail.check_status" value="2"}
		<tr>
			<td class="layui-td-gray">确认状态</td>
			<td>
				{eq name="$detail.status" value="1"}<span class="red">未确认付款</span>{/eq}
				{eq name="$detail.status" value="2"}<span class="green">已确认付款</span>{/eq}
			</td>
			<td class="layui-td-gray">确认时间</td>
			<td>{$detail.confirm_time|default='-'}</td>
			<td class="layui-td-gray-2">付款确认人</td>
			<td>{$detail.confirm_admin|default='-'}</td>
		</tr>
		{/eq}
	</table>
	<div id="checkBox" class="pt-3" data-status="{$detail.check_status}" data-id="{$detail.id}" data-checkflowid="{$detail.check_flow_id}"></div>
</div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
const invoice_id = {$detail.id};
const moduleInit = ['tool','oaCheck','uploadPlus'];
function gouguInit() {
	var form = layui.form,tool=layui.tool, oaCheck=layui.oaCheck,uploadPlus = layui.uploadPlus;	
	oaCheck.init({
		check_name:'payment'
	});
}
</script>
{/block}
<!-- /脚本 -->