{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-page">
	<h3 class="pb-3">模块配置及数据权限配置</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td colspan="8" class="red" style="line-height:1.8">
				<p><strong>合同模块使用说明：</strong></p>
				<p>{$detail.desc}</p>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">权限名称</td>
			<td>
				<input type="hidden" name="id" value="{$detail.id}" />
				{$detail.title}
			</td>
			<td class="layui-td-gray">权限标识</td>
			<td>{$detail.name}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-3">合同管理员</td>
			<td>
				<input type="text" name="conf_1_str" value="{$detail.conf_1_str|default=''}" readonly placeholder="请选择权限人员" autocomplete="off" class="layui-input picker-admin" data-type="2">
				<input type="hidden" name="conf_1" value="{$detail.conf_1}">
			</td>
			<td class="layui-td-gray">权限标识</td>
			<td style="width:100px;">conf_1</td>
		</tr>		
		<tr>		
			<td class="layui-td-gray-3">合同编号自动生成</td>
			<td>
				<input type="radio" name="conf_2" value="1" title="开启" {eq name="$detail.conf_2" value="1"}checked{/eq}>
				<input type="radio" name="conf_2" value="0" title="不开启" {eq name="$detail.conf_2" value="0"}checked{/eq}>
			</td>
			<td class="layui-td-gray">权限标识</td>
			<td style="width:100px;">conf_2</td>
		</tr>
		<tr>			
			<td class="layui-td-gray-2">是否开启关联客户<br>[销售合同]</td>
			<td>
				<input type="radio" name="conf_3" value="1" title="关联" {eq name="$detail.conf_3" value="1"}checked{/eq}>
				<input type="radio" name="conf_3" value="0" title="不关联" {eq name="$detail.conf_3" value="0"}checked{/eq}>
			</td>
			<td class="layui-td-gray">权限标识</td>
			<td style="width:100px;">conf_3</td>
		</tr>
		<tr>			
			<td class="layui-td-gray-2">是否开启关联产品<br>[销售合同]</td>
			<td>
				<input type="radio" name="conf_4" value="1" title="关联" {eq name="$detail.conf_4" value="1"}checked{/eq}>
				<input type="radio" name="conf_4" value="0" title="不关联" {eq name="$detail.conf_4" value="0"}checked{/eq}>
			</td>
			<td class="layui-td-gray">权限标识</td>
			<td style="width:100px;">conf_4</td>
		</tr>
		<tr>			
			<td class="layui-td-gray-2">是否开启关联服务<br>[销售合同]</td>
			<td>
				<input type="radio" name="conf_5" value="1" title="关联" {eq name="$detail.conf_5" value="1"}checked{/eq}>
				<input type="radio" name="conf_5" value="0" title="不关联" {eq name="$detail.conf_5" value="0"}checked{/eq}>
			</td>
			<td class="layui-td-gray">权限标识</td>
			<td style="width:100px;">conf_5</td>
		</tr>
		<tr>			
			<td class="layui-td-gray-2">是否开启关联供应商<br>[采购合同]</td>
			<td>
				<input type="radio" name="conf_6" value="1" title="关联" {eq name="$detail.conf_6" value="1"}checked{/eq}>
				<input type="radio" name="conf_6" value="0" title="不关联" {eq name="$detail.conf_6" value="0"}checked{/eq}>
			</td>
			<td class="layui-td-gray">权限标识</td>
			<td style="width:100px;">conf_6</td>
		</tr>
		<tr>			
			<td class="layui-td-gray-2">是否开启关联采购品<br>[采购合同]</td>
			<td>
				<input type="radio" name="conf_7" value="1" title="关联" {eq name="$detail.conf_7" value="1"}checked{/eq}>
				<input type="radio" name="conf_7" value="0" title="不关联" {eq name="$detail.conf_7" value="0"}checked{/eq}>
			</td>
			<td class="layui-td-gray">权限标识</td>
			<td style="width:100px;">conf_7</td>
		</tr>
		<tr>			
			<td class="layui-td-gray-2">合同到期前N天提醒</td>
			<td><input type="text" name="conf_10" value="{$detail.conf_10|default='30'}" lay-verify="required|number" lay-reqText="请输入合同到期前N天提醒" class="layui-input"></td>
			<td class="layui-td-gray">权限标识</td>
			<td style="width:100px;">conf_10</td>
		</tr>
	</table>
	<div class="pt-4">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool','oaPicker'];
	function gouguInit() {
		var form = layui.form, tool = layui.tool;		
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if(e.code==0){
					tool.sideClose(1000);
				}
			}
			tool.post("/home/dataauth/edit", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->