<div class="layui-row layui-col-space16">
	<div class="layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-title">企业日常</div>
			<div class="layui-card-body layui-shortcut-menu p-3">
				<ul class="layui-row layui-col-space12">
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/index/events" class="tab-a" data-id="3000" data-title="企业大事件">
							<i class="iconfont icon-qiyeguanli" style="background-color:#16baaa"></i>
							<cite>企业大事件</cite>
						</a>
					</li>
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/note/datalist" class="tab-a" data-id="3001" data-title="企业公告">
							<i class="iconfont icon-ziliaoguanli" style="background-color:#1e9fff"></i>
							<cite>企业公告</cite>
						</a>
					</li>
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/news/datalist" class="tab-a" data-id="3002" data-title="企业新闻">
							<i class="iconfont icon-gongwen" style="background-color:#a233c6"></i>
							<cite>企业新闻</cite>
						</a>
					</li>
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/regulation/datalist" class="tab-a" data-id="3003" data-title="规章制度">
							<i class="iconfont icon-ziliaoguidang" style="background-color:#ff5722"></i>
							<cite>规章制度</cite>
						</a>
					</li>
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/index/contacts_book" class="tab-a" data-id="3004" data-title="通讯录">
							<i class="iconfont icon-huamingce" style="background-color:#F75496"></i>
							<cite>通讯录</cite>
						</a>
					</li>
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/index/log_list" class="tab-a" data-id="3005" data-title="员工动态">
							<i class="iconfont icon-rizhiguanli" style="background-color:#5ECC3E"></i>
							<cite>员工动态</cite>
						</a>
					</li>
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/index/chartyear" class="tab-a" data-id="3006" data-title="活跃度统计">
							<i class="iconfont icon-tongjirili" style="background-color:#FE9555"></i>
							<cite>活跃度统计</cite>
						</a>
					</li>
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="https://blog.gougucms.com/home/book/detail/bid/3.html" class="tab-a" data-id="3007" data-title="操作手册">
							<i class="iconfont icon-zhishiku" style="background-color:#FEC34F"></i>
							<cite>操作手册</cite>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>				