<div class="layui-row layui-col-space16">
	<div class="layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-title">待办事项</div>
			<div class="layui-card-body layui-matter-item p-3">
				<ul class="layui-row layui-col-space12">
					{volist name="$handle" id="vo"}
						<li class="layui-col-xs3">
							<a href="javascript:;" data-href="{$vo.url}" data-id="{$vo.id}" class="tab-a" data-title="{$vo.name}" style="background-color:#F8FAFF">
								<p>{$vo.name}</p>
								<p class="pt-3"><cite class="blue">{$vo.num}</cite></p>
							</a>
						</li>
					{/volist}
				</ul>
			</div>
		</div>
	</div>
</div>			

<div class="layui-row layui-col-space16">
	<div class="layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-title">紧急事项</div>
			<div class="layui-card-body layui-matter-item p-3">
				<ul class="layui-row layui-col-space12">
					{volist name="$todue" id="vo"}
						<li class="layui-col-xs3">
							<a href="javascript:;" data-href="{$vo.url}" data-id="{$vo.id}" class="tab-a" data-title="{$vo.name}" style="background-color:#FFF9F8">
								<p>{$vo.name}</p>
								<p class="pt-3"><cite class="red">{$vo.num}</cite></p>
							</a>
						</li>
					{/volist}
				</ul>
			</div>
		</div>
	</div>
</div>	