<div class="layui-row layui-col-space16">
	<div class="layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-header"><h3>办公审批</h3><a href="javascript:;" data-href="/home/approve/index" class="side-a pull-right">去申请</a></div>
			<div class="layui-card-body layui-short-menu p-3">
				<ul class="layui-row layui-col-space12">
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/approve/index" class="side-a">
							<i class="iconfont icon-kechengziyuanguanli"></i>
							<cite>审批申请</cite>
						</a>
					</li>
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/approve/mylist" class="side-a">
							<i class="iconfont icon-jiaoshiguanli"></i>
							<cite>我申请的</cite>
						</a>
					</li>
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/approve/checklist" class="side-a">
							<i class="iconfont icon-tuiguangguanli"></i>
							<cite>我处理的</cite>
						</a>
					</li>
					<li class="layui-col-xs3">
						<a href="javascript:;" data-href="/home/approve/copylist" class="side-a">
							<i class="iconfont icon-xueshengchengji"></i>
							<cite>抄送给我的</cite>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>				