{extend name="../../base/view/common/base" /}
{block name="style"}
<style>
.layui-table-1 .tr_2{display:none}
</style>
{/block}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-page">
	<h3 class="pb-3">消息模板</h3>
	<table class="layui-table layui-table-form layui-table-{$detail.types|default=2}">
		<tr>
			<td class="layui-td-gray-2">模板名称<font>*</font></td>
			<td><input type="text" name="title" lay-verify="required" placeholder="请输入消息模板名称" lay-reqText="请输入消息模板名称" class="layui-input" value="{$detail.title|default=''}"></td>
			<td class="layui-td-gray">模板标识<font>*</font></td>
			<td><input type="text" name="name" placeholder="请输入模板标识" lay-reqText="请输入模板标识，只能是字母+数字" class="layui-input" value="{$detail.name|default=''}"></td>
		</tr>
		<tr>
			<td class="layui-td-gray">消息类型<font>*</font></td>
			<td>
				{empty name="$detail"}
				<select name="types" lay-filter="types">
					<option value="">选择消息类型</option>
					<option value="1">普通消息</option>
					<option value="2" selected>审批消息</option>
				</select>
				{else/}
				<select name="types" lay-filter="types">
					<option value="">选择消息类型</option>
					<option value="1" {eq name="$detail.types" value="1"} selected{/eq}>普通消息</option>
					<option value="2" {eq name="$detail.types" value="2"} selected{/eq}>审批消息</option>
				</select>
				{/empty}
			</td>
			<td class="layui-td-gray">消息链接<font>*</font></td>
			<td><input type="text" name="msg_link" placeholder="请输入消息链接" lay-reqText="请输入消息链接，只能是字母+数字" class="layui-input" value="{$detail.msg_link|default=''}"></td>
		</tr>
		<tr>
			<td class="layui-td-gray"><span class="tr_2">审批中的<br></span>消息模板标题<font>*</font></td>
			<td colspan="3"><input type="text" name="msg_title_0" lay-verify="required" placeholder="请输入消息模板标题" lay-reqText="请输入消息模板标题" class="layui-input" value="{$detail.msg_title_0|default=''}"></td>			
		</tr>
		<tr>
			<td class="layui-td-gray"><span class="tr_2"审批中的<br></span>消息模板内容<font>*</font></td>
			<td colspan="3"><textarea name="msg_content_0" class="layui-textarea" lay-verify="required" placeholder="请输入消息模板内容" lay-reqText="请输入消息模板内容">{$detail.msg_content_0|default=''}</textarea></td>
		</tr>
		<tr class="tr_2">
			<td class="layui-td-gray">审批通过的<br>消息模板标题<font>*</font></td>
			<td colspan="3"><input type="text" name="msg_title_1" placeholder="请输入审批通过的消息模板标题" class="layui-input" value="{$detail.msg_title_1|default=''}"></td>			
		</tr>
		<tr class="tr_2">
			<td class="layui-td-gray">审批通过的<br>消息模板内容<font>*</font></td>
			<td colspan="3"><textarea name="msg_content_1" placeholder="请输入审批通过的消息模板内容" class="layui-textarea">{$detail.msg_content_1|default=''}</textarea></td>
		</tr>
		<tr class="tr_2">
			<td class="layui-td-gray">审批拒绝的<br>消息模板标题<font>*</font></td>
			<td colspan="3"><input type="text" name="msg_title_2" placeholder="请输入审批拒绝的消息模板标题" class="layui-input" value="{$detail.msg_title_2|default=''}"></td>			
		</tr>
		<tr class="tr_2">
			<td class="layui-td-gray">审批拒绝的<br>消息模板内容<font>*</font></td>
			<td colspan="3"><textarea name="msg_content_2" placeholder="请输入审批拒绝的消息模板内容" class="layui-textarea">{$detail.msg_content_2|default=''}</textarea></td>
		</tr>
	</table>
	<div class="pt-4">
		<input type="hidden" name="id" value="{$detail.id|default=0}"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];

	function gouguInit() {
		var form = layui.form, tool = layui.tool;
		form.on('select(types)', function(data){
			if(data.value==1){
				$('.layui-table-form').addClass('layui-table-1').removeClass('layui-table-2');
			}
			if(data.value==2){
				$('.layui-table-form').addClass('layui-table-2').removeClass('layui-table-1');
			}
		});
		//监听提交
		form.on('submit(webform)', function (data) {
			if(data.field.types==2){
				if(data.field.msg_title_1==''){
					layer.msg('请输入审批通过的消息模板标题');
					return false;
				}
				if(data.field.msg_content_1==''){
					layer.msg('请输入审批通过的消息模板内容');
					return false;
				}
				if(data.field.msg_title_2==''){
					layer.msg('请输入审批拒绝的消息模板标题');
					return false;
				}
				if(data.field.msg_content_1==''){
					layer.msg('请输入审批拒绝的消息模板内容');
					return false;
				}
			}
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("/home/template/add", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->