{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-page">
	<h3 class="pb-3">绩效模板</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">模板名称<font>*</font></td>
			<td colspan="3"><input type="text" name="title" lay-verify="required" placeholder="请输入绩效模板名称" lay-reqText="请输入绩效模板名称" class="layui-input" value="{$detail.title|default=''}"></td>
			<td class="layui-td-gray">分数<font>*</font></td>
			<td style="width:100px;"><input type="text" name="score" lay-verify="required|number" readonly class="layui-input layui-input-readonly" value="{$detail.score|default='100'}"></td>
		</tr>
		<tr>
			<td class="layui-td-gray">模板描述</td>
			<td colspan="5"><textarea name="content" placeholder="请输入绩效模板描述，可空" class="layui-textarea">{$detail.content|default=''}</textarea></td>
		</tr>
		<tr>
			<td colspan="4"><strong>KPI考核</strong> <span class="layui-btn layui-btn-sm" type="button" id="kpiAdd">+ 添加选项</span></td>
			<td class="layui-td-gray-2">分数占比(%)<font>*</font></td>
			<td style="width:100px;"><input type="text" name="kpi_score" lay-verify="required|number" readonly placeholder="请输入绩效模板名称" lay-reqText="请输入绩效模板名称" class="layui-input layui-input-readonly" value="{$detail.kpi_score|default='90'}"></td>
		</tr>
		<tr>
			<td colspan="6">				
				<table id="kpiTable" class="layui-table layui-table-min" style="margin:0">
					<tr>
						<th width="300">指标名称</th>
						<th width="300">指标说明</th>
						<th width="60">权重(%)</th>
						<th width="60">目标值</th>
						<th width="200">评分标准</th>
						<th width="80">权重封顶值</th>
						<th width="80">考核频率</th>
						<th width="60">操作</th>
					</tr>
					{empty name="$detail.kpi_array"}
					<tr class="kpi-tr">
						<td><input type="text" name="kpi_title[]" value="业绩达成率" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>
						<td><input type="text" name="kpi_content[]" value="考核销售额、合同额或目标达成率，是最基础的硬性指标" class="layui-input" lay-verify="required" lay-reqText="请输入指标说明"></td>
						<td><input type="text" name="kpi_weight[]" value="30" class="layui-input kpi-num" lay-verify="required|number" lay-reqText="请输入权重，数字"></td>
						<td><input type="text" name="kpi_goal[]" value="" class="layui-input"></td>
						<td><input type="text" name="kpi_standard[]" value="(累计销售量/目标值)*权重" class="layui-input"></td>
						<td><input type="text" name="kpi_max[]" value="100" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>
						<td><input type="text" name="kpi_frequency[]" value="月度" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					<tr class="kpi-tr">
						<td><input type="text" name="kpi_title[]" value="新客户开发数量" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>
						<td><input type="text" name="kpi_content[]" value="考核新客户开发数量，衡量市场拓展能力" class="layui-input" lay-verify="required" lay-reqText="请输入指标说明"></td>
						<td><input type="text" name="kpi_weight[]" value="10" class="layui-input kpi-num" lay-verify="required|number" lay-reqText="请输入权重，数字"></td>
						<td><input type="text" name="kpi_goal[]" value="" class="layui-input"></td>
						<td><input type="text" name="kpi_standard[]" value="(累计新客户数/目标值)*权重" class="layui-input"></td>
						<td><input type="text" name="kpi_max[]" value="100" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>
						<td><input type="text" name="kpi_frequency[]" value="月度" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					<tr class="kpi-tr">
						<td><input type="text" name="kpi_title[]" value="回款额/回款率" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>
						<td><input type="text" name="kpi_content[]" value="考核回款率、回款周期或逾期应收占比" class="layui-input" lay-verify="required" lay-reqText="请输入指标说明"></td>
						<td><input type="text" name="kpi_weight[]" value="30" class="layui-input kpi-num" lay-verify="required|number" lay-reqText="请输入权重，数字"></td>
						<td><input type="text" name="kpi_goal[]" value="" class="layui-input"></td>
						<td><input type="text" name="kpi_standard[]" value="(回款额/目标值)*权重" class="layui-input"></td>
						<td><input type="text" name="kpi_max[]" value="100" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>
						<td><input type="text" name="kpi_frequency[]" value="月度" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					<tr class="kpi-tr">
						<td><input type="text" name="kpi_title[]" value="客服拜访、沟通次数" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>
						<td><input type="text" name="kpi_content[]" value="衡量销售活动的勤奋度和覆盖面" class="layui-input" lay-verify="required" lay-reqText="请输入指标说明"></td>
						<td><input type="text" name="kpi_weight[]" value="10" class="layui-input kpi-num" lay-verify="required|number" lay-reqText="请输入权重，数字"></td>
						<td><input type="text" name="kpi_goal[]" value="10" class="layui-input"></td>
						<td><input type="text" name="kpi_standard[]" value="(拜访、沟通次数/目标值)*权重" class="layui-input"></td>
						<td><input type="text" name="kpi_max[]" value="100" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>
						<td><input type="text" name="kpi_frequency[]" value="月度" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					<tr class="kpi-tr">
						<td><input type="text" name="kpi_title[]" value="签约率/转化率" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>
						<td><input type="text" name="kpi_content[]" value="考核将潜在客户转化为实际成交客户的能力" class="layui-input" lay-verify="required" lay-reqText="请输入指标说明"></td>
						<td><input type="text" name="kpi_weight[]" value="10" class="layui-input kpi-num" lay-verify="required|number" lay-reqText="请输入权重，数字"></td>
						<td><input type="text" name="kpi_goal[]" value="10" class="layui-input"></td>
						<td><input type="text" name="kpi_standard[]" value="(签约数/目标值)*权重" class="layui-input"></td>
						<td><input type="text" name="kpi_max[]" value="100" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>
						<td><input type="text" name="kpi_frequency[]" value="月度" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					{else/}
					{volist name="$detail.kpi_array" id="vo"}
					<tr class="kpi-tr">
						<td><input type="text" name="kpi_title[]" value="{$vo.kpi_title|default=''}" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>
						<td><input type="text" name="kpi_content[]" value="{$vo.kpi_content|default=''}" class="layui-input" lay-verify="required" lay-reqText="请输入指标说明"></td>
						<td><input type="text" name="kpi_weight[]" value="{$vo.kpi_weight|default=''}" class="layui-input kpi-num" lay-verify="required" lay-reqText="请输入权重，数字"></td>
						<td><input type="text" name="kpi_goal[]" value="{$vo.kpi_goal|default=''}" class="layui-input"></td>
						<td><input type="text" name="kpi_standard[]" value="{$vo.kpi_standard|default=''}" class="layui-input"></td>
						<td><input type="text" name="kpi_max[]" value="{$vo.kpi_max|default='100'}" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>
						<td><input type="text" name="kpi_frequency[]" value="{$vo.kpi_frequency|default=''}" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					{/volist}					
					{/empty}
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="4"><strong>行为态度考核</strong> <span class="layui-btn layui-btn-sm" type="button" id="actionAdd">+ 添加选项</span></td>
			<td class="layui-td-gray-2">分数占比(%)<font>*</font></td>
			<td style="width:100px;"><input type="text" name="action_score" lay-verify="required|number" readonly placeholder="请输入绩效模板名称" lay-reqText="请输入绩效模板名称" class="layui-input layui-input-readonly" value="{$detail.action_score|default='10'}"></td>
		</tr>
		<tr>
			<td colspan="6">				
				<table id="actionTable" class="layui-table layui-table-min" style="margin:0">
					<tr>
						<th width="300">阶段工作任务</th>
						<th width="100">权重(%)</th>
						<th>评分标准</th>
						<th width="100">权重封顶值</th>
						<th width="100">考核频率</th>
						<th width="60">操作</th>
					</tr>
					{empty name="$detail.action_array"}
					<tr class="action-tr">
						<td><input type="text" name="action_title[]" value="产品知识/专业技能" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>
						<td><input type="text" name="action_weight[]" value="4" class="layui-input action-num" lay-verify="required" lay-reqText="请输入权重，数字"></td>
						<td><input type="text" name="action_standard[]" value="对产品和业务的掌握程度" class="layui-input"></td>
						<td><input type="text" name="action_max[]" value="100" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>
						<td><input type="text" name="action_frequency[]" value="月度" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					<tr class="action-tr">
						<td><input type="text" name="action_title[]" value="团队协作/沟通能力" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>
						<td><input type="text" name="action_weight[]" value="3" class="layui-input action-num" lay-verify="required" lay-reqText="请输入权重，数字"></td>
						<td><input type="text" name="action_standard[]" value="与同事、客户的合作与沟通效果" class="layui-input"></td>
						<td><input type="text" name="action_max[]" value="100" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>
						<td><input type="text" name="action_frequency[]" value="月度" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					<tr class="action-tr">
						<td><input type="text" name="action_title[]" value="责任心/执行力" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>
						<td><input type="text" name="action_weight[]" value="3" class="layui-input action-num" lay-verify="required" lay-reqText="请输入权重，数字"></td>
						<td><input type="text" name="action_standard[]" value="工作态度和任务完成质量" class="layui-input"></td>
						<td><input type="text" name="action_max[]" value="100" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>
						<td><input type="text" name="action_frequency[]" value="月度" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					{else/}
					{volist name="$detail.action_array" id="vo"}
					<tr class="action-tr">
						<td><input type="text" name="action_title[]" value="{$vo.action_title|default=''}" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>
						<td><input type="text" name="action_weight[]" value="{$vo.action_weight|default=''}" class="layui-input action-num" lay-verify="required" lay-reqText="请输入权重，数字"></td>
						<td><input type="text" name="action_standard[]" value="{$vo.action_standard|default=''}" class="layui-input"></td>
						<td><input type="text" name="action_max[]" value="{$vo.action_max|default='100'}" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>
						<td><input type="text" name="action_frequency[]" value="{$vo.action_frequency|default=''}" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					{/volist}					
					{/empty}
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="6"><strong>加减分项考核</strong> <span class="layui-btn layui-btn-sm" type="button" id="eventAdd">+ 添加选项</span></td>
		</tr>
		<tr>
			<td colspan="6">				
				<table id="eventTable" class="layui-table layui-table-min" style="margin:0">
					<tr>
						<th>事项</th>
						<th>评分标准</th>
						<th width="60">操作</th>
					</tr>
					{empty name="$detail.event_array"}
					<tr class="event-tr">
						<td><input type="text" name="event_title[]" value="客户满意度" class="layui-input" lay-verify="required" lay-reqText="请完善事项"></td>
						<td><input type="text" name="event_standard[]" value="" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					<tr class="event-tr">
						<td><input type="text" name="event_title[]" value="客户留存与复购" class="layui-input" lay-verify="required" lay-reqText="请完善事项"></td>
						<td><input type="text" name="event_standard[]" value="" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					<tr class="event-tr">
						<td><input type="text" name="event_title[]" value="重大贡献" class="layui-input" lay-verify="required" lay-reqText="请完善事项"></td>
						<td><input type="text" name="event_standard[]" value="" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					{else/}
					{volist name="$detail.event_array" id="vo"}
					<tr class="event-tr">
						<td><input type="text" name="event_title[]" value="{$vo.event_title|default=''}" class="layui-input" lay-verify="required" lay-reqText="请完善事项"></td>
						<td><input type="text" name="event_standard[]" value="{$vo.event_standard|default=''}" class="layui-input"></td>
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>
					</tr>
					{/volist}					
					{/empty}
				</table>
			</td>
		</tr>		
	</table>
	<div class="pt-4">
		<input type="hidden" name="id" value="{$detail.id|default=0}"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool','oaPicker'];

	function gouguInit() {
		var form = layui.form, tool = layui.tool;
		
		//添加KPI选项表格
		$('#kpiAdd').on('click',function(){
			var html = '';
			html += '<tr class="kpi-tr">\
						<td><input type="text" name="kpi_title[]" value="" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>\
						<td><input type="text" name="kpi_content[]" value="" class="layui-input" lay-verify="required" lay-reqText="请输入指标说明"></td>\
						<td><input type="text" name="kpi_weight[]" value="" class="layui-input kpi-num" lay-verify="required" lay-reqText="请输入权重，数字"></td>\
						<td><input type="text" name="kpi_goal[]" value="" class="layui-input"></td>\
						<td><input type="text" name="kpi_standard[]" value="" class="layui-input"></td>\
						<td><input type="text" name="kpi_max[]" value="100" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>\
						<td><input type="text" name="kpi_frequency[]" value="月度" class="layui-input"></td>\
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>\
					</tr>';
			$('#kpiTable').append(html);
			form.render();
		});	

		$('#kpiTable').on('click', '[lay-event="del"]', function() {
			if($('.kpi-tr').length<2){
				layer.msg('至少保留一个KPI选项');
				return false;
			}
			$(this).parents('.kpi-tr').remove();
			count_score();
		});
		
		//计算KPI权重总数
		$('#kpiTable').on('input', '.kpi-num', function() {
			count_score();
		});
		
		//添加action选项表格
		$('#actionAdd').on('click',function(){
			var html = '';
			html += '<tr class="action-tr">\
						<td><input type="text" name="action_title[]" value="" class="layui-input" lay-verify="required" lay-reqText="请完善指标名称"></td>\
						<td><input type="text" name="action_weight[]" value="" class="layui-input action-num" lay-verify="required" lay-reqText="请输入权重，数字"></td>\
						<td><input type="text" name="action_standard[]" value="" class="layui-input"></td>\
						<td><input type="text" name="action_max[]" value="{$vo.action_max|default='100'}" class="layui-input" lay-verify="required|number" lay-reqText="请输入权重封顶值，数字"></td>\
						<td><input type="text" name="action_frequency[]" value="月度" class="layui-input"></td>\
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>\
					</tr>';
			$('#actionTable').append(html);
			form.render();
		});	

		$('#actionTable').on('click', '[lay-event="del"]', function() {
			if($('.action-tr').length<2){
				layer.msg('至少保留一个行为态度考核选项');
				return false;
			}
			$(this).parents('.action-tr').remove();
			count_score();
		});
		
		//计算action权重总数
		$('#actionTable').on('input', '.action-num', function() {
			count_score();
		});
		
		//添加event选项表格
		$('#eventAdd').on('click',function(){
			var html = '';
			html += '<tr class="event-tr">\
						<td><input type="text" name="event_title[]" value="" class="layui-input" lay-verify="required" lay-reqText="请完善事项"></td>\
						<td><input type="text" name="event_standard[]" value="" class="layui-input"></td>\
						<td><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></td>\
					</tr>';
			$('#eventTable').append(html);
			form.render();
		});	

		$('#eventTable').on('click', '[lay-event="del"]', function() {
			if($('.event-tr').length<2){
				layer.msg('至少保留一个例外事件考核选项');
				return false;
			}
			$(this).parents('.event-tr').remove();
		});
		
		
		//计算总数
		function count_score(){
			var kpi = $('#kpiTable').find(".kpi-num");
			var kpi_score = 0;
			for (var a = 0; a < kpi.length; a++) {
				kpi_score+=$(kpi[a]).val()*100;
			}
			if(isNaN(kpi_score)){ 
				kpi_score = 0;
			}
			$('[name="kpi_score"]').val(kpi_score/100);
			
			var action = $('#actionTable').find(".action-num");
			var action_score = 0;
			for (var b = 0; b < action.length; b++) {
				action_score+=$(action[b]).val()*100;
			}
			if(isNaN(action_score)){ 
				action_score = 0;
			}
			$('[name="action_score"]').val(action_score/100);
			
			if(isNaN(kpi_score)){ 
				kpi_score = 0;
			}
			if(isNaN(action_score)){ 
				action_score = 0;
			}
			$('[name="score"]').val((kpi_score+action_score)/100);
		}
		
		
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					setTimeout(function () {
						parent.location.reload();
					}, 1000);
				}
			}
			tool.post("/performance/templates/add", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->