{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}

<div class="p-page">
	<table class="layui-hide" id="table_account" lay-filter="table_account"></table>
</div>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
	<button class="layui-btn layui-btn-sm tool-add" type="button" data-href="/finance/account/add">+ 资金账户</button>
  </div>
</script>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var table = layui.table, tool = layui.tool;
		
		layui.pageTable = table.render({
			elem: "#table_account"
			,toolbar: '#toolbarDemo'
			,url: "/finance/account/datalist"
			,page: false
			,totalRow: true
			,limit: 999
			,cellMinWidth: 60
			,cols: [[
				{field:'id',width:60, title: 'ID号', align:'center'}
				,{field:'enterprise',title: '所属企业主体',width:200}
				,{field:'title',title: '资金账户名称',width:200}
				,{field:'account',title: '具体账号',minWidth:240,totalRowText: '<div style="text-align:right">合计</div>'}
				,{field:'amount',title: '当前资金(元)', align:'right','style':'color:#16b777',width:150,totalRow: true}
				,{field:'initial_amount',title: '初始资金(元)', align:'right',width:130,totalRow: true}
				,{field:'injection_amount',title: '注资(元)', align:'right','style':'color:#a233c6',width:130,totalRow: true}
				,{field:'income_amount',title: '收入(元)', align:'right','style':'color:#1e9fff',width:130,totalRow: true}
				,{field:'payout_amount',title: '支出(元)', align:'right','style':'color:#ff5722',width:130,totalRow: true}
				,{field:'status', title: '状态',width:60,align:'center',templet: function(d){
					var html1='<span class="green">正常</span>';
					var html2='<span class="yellow">禁用</span>';
					if(d.status==1){
						return html1;
					}
					else{
						return html2;
					}
				}}
				,{width:192,fixed:'right', title: '操作', align:'center',ignoreExport:true,templet: function(d){
					var html='';
					var btn1='<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>';
					var btn2='<a class="layui-btn layui-bg-orange layui-btn-xs" lay-event="disable">禁用</a>';
					var btn3='<a class="layui-btn layui-btn-xs" lay-event="open">启用</a>';
					var btn4='<a class="layui-btn layui-bg-purple layui-btn-xs" lay-event="injection">注资</a>';
					var btn5='<a class="layui-btn layui-bg-blue layui-btn-xs" lay-event="income">收入</a>';
					var btn6='<a class="layui-btn layui-bg-red layui-btn-xs" lay-event="payout">支出</a>';
					if(d.status==1){
						html = '<div class="layui-btn-group">'+btn1+btn2+btn4+btn5+btn6+'</div>';
					}
					else{
						html = '<div class="layui-btn-group">'+btn1+btn3+btn4+btn5+btn6+'</div>';
					}
					return html;
				}}
			]]
		});
			
		table.on('tool(table_account)',function (obj) {
			let data = obj.data;
			if (obj.event === 'view') {
				tool.side("/finance/account/view?id="+data.id);
				return;
			}
			if (obj.event === 'edit') {
				tool.side("/finance/account/add?id="+data.id);
				return;
			}
			if (obj.event === 'injection') {
				tool.side("/finance/account/injection?account_id="+data.id);
				return;
			}
			if (obj.event === 'income') {
				tool.side("/finance/account/income?account_id="+data.id);
				return;
			}
			if (obj.event === 'payout') {
				tool.side("/finance/account/payout?account_id="+data.id);
				return;
			}
			if(obj.event === 'disable'){
				layer.confirm('确定要禁用该账户吗?', {icon: 3, title:'提示'}, function(index){
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layui.pageTable.reload();
						}
					}
					tool.post("/finance/account/set", {id:obj.data.id,status: 0}, callback);
					layer.close(index);
				});
			}
			if(obj.event === 'open'){
				layer.confirm('确定要启用该账户吗?', {icon: 3, title:'提示'}, function(index){
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layui.pageTable.reload();
						}
					}
					tool.post("/finance/account/set", {id:obj.data.id,status:1}, callback);
					layer.close(index);
				});
			}
		});
	}
</script>
{/block}
<!-- /脚本 -->