{extend name="../../base/view/common/base" /}
{block name="style"}
{include file="/approve/view_style" /}
{/block}
<!-- 主体 -->
{block name="body"}
<div class="layui-form page-content">
	<h3 class="h3-title">采购申请审批</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">物品名称</td>
			<td>{$detail.amount}</td>
			<td class="layui-td-gray2">期望交互日期</td>
			<td>{$detail.detail_time}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">采购数量</td>
			<td>{$detail.num}</td>
			<td class="layui-td-gray">采购金额</td>
			<td>{$detail.amount}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">采购事由</td>
			<td colspan="3">{$detail.content}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">备注</td>
			<td colspan="3">{$detail.remark}</td>
		</tr>
	</table>
	
	{include file="/approve/view_step" /}
</div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
{include file="/approve/view_script" /}
{include file="../../base/view/common/layui" base='base' extend="['employeepicker']" callback="init" /}
{/block}
<!-- /脚本 -->