{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<div class="body-table">
	<form class="layui-form layui-form-bar">
		<div class="layui-input-inline" style="width:300px;">
			<input type="text" name="keywords" placeholder="关键字名称" class="layui-input" autocomplete="off" />
		</div>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">提交搜索</button>
	</form>
	<table class="layui-hide" id="test" lay-filter="test"></table>
</div>

<script type="text/html" id="status">
	<i class="layui-icon {{#  if(d.status == 1){ }}layui-icon-ok{{#  } else { }}layui-icon-close{{#  } }}"></i>
</script>
<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
	<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add">+ 添加关键字</button>
  </div>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var tableIns = null;
	function init(layui) {
		var table = layui.table,
			rightpage = layui.rightpage,
			form = layui.form;

		tableIns = table.render({
			elem: '#test',
			title: '关键字列表',
			toolbar: '#toolbarDemo',
			url: "/home/keywords/index",
			page: true, //开启分页				
			limit: 20,
			cols: [
				[{
					field: 'id',
					width: 80,
					title: 'ID编号',
					align: 'center'
				}, {
					field: 'sort',
					width: 80,
					title: '排序',
					align: 'center',
					edit: "text"
				}, {
					field: 'title',
					title: '关键字名称',
					edit: "text"
				}, {
					field: 'status',
					width: 80,
					title: '状态',
					templet: '#status',
					align: 'center'
				}, {
					width: 100,
					title: '操作',
					align: 'center',
					templet: function (d) {
						var html = '<div class="layui-btn-group"><button class="layui-btn layui-btn-xs" lay-event="edit">编辑</button><button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button></div>';
						return html;
					}
				}]
			]
		});

		//监听搜索提交
		form.on('submit(webform)', function (data) {
			if (data.field.keywords) {
				tableIns.reload({
					where: {
						keywords: data.field.keywords
					},
					page: {
						curr: 1
					}
				});
			} else {
				location.reload();
			}
			return false;
		});

		//表头工具栏事件
		table.on('toolbar(test)', function(obj){
			if (obj.event === 'add') {
				rightpage.open("/home/keywords/add",'900px');
				return;
			}
		});
		//监听行工具事件
		table.on('tool(test)', function (obj) {
			var data = obj.data;
			if (obj.event === 'edit') {
				rightpage.open('/home/keywords/add?id='+obj.data.id,'900px');
				return;
			}
			if (obj.event === 'del') {
				layer.confirm('确定要删除吗？', { icon: 3, title: '提示' }, function (index) {
					$.ajax({
						url: "/home/keywords/delete",
						data: { id: data.id },
						success: function (e) {
							layer.msg(e.msg);
							if (e.code == 0) {
								obj.del();
							}
						}
					})
					layer.close(index);
				});
			}
		});
	}
</script>
{include file="../../base/view/common/layui" base="base" extend="['rightpage']" callback="init" /}
{/block}
<!-- /脚本 -->