{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-page">
	<h3 class="pb-3">工资确认单</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">工资月份<font>*</font></td>
			<td><input type="text" name="month_time" readonly lay-verify="required" placeholder="请选择" lay-reqText="请完善工资月份" class="layui-input tool-time" value="{$detail.month_time|default=''}" data-type="month"></td>
			<td class="layui-td-gray-2">确认单标题<font>*</font></td>
			<td><input type="text" name="title" placeholder="例：1月的工资确认单" lay-verify="required" lay-reqText="请完善确认单标题" class="layui-input" value="{$detail.title|default=''}"></td>
		</tr>
	</table>
	<div class="pt-4">
		<input type="hidden" name="id" value="{$detail.id|default=0}"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool','oaPicker'];

	function gouguInit() {
		var form = layui.form, tool = layui.tool;
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
					parent.layui.pageTable.reload();
				}
			}
			tool.post("/adm/salary/add", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->