{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-page">
	<h3 class="pb-2">退款登记</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td colspan="6"><strong>收款信息</strong></td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">收款金额</td>
			<td class="blue">{$income.amount} 元</td>
			<td class="layui-td-gray-2">收款交易单号</td>
			<td>{$income.transaction_code}</td>
			<td class="layui-td-gray">收款时间</td>
			<td>{$income.enter_time}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">款项类型</td>
			<td>{$income.fundscate}</td>
			<td class="layui-td-gray">付款方式</td>
			<td>{$income.paytype}</td>
			<td class="layui-td-gray">收款主体</td>
			<td>{$income.subject}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">关联销项发票</td>
			<td>{$income.invoice|default='-'}</td>
			<td class="layui-td-gray">关联客户</td>
			<td>{$income.customer|default='-'}</td>
			<td class="layui-td-gray">收款账户</td>
			<td>{$income.account|default=''}</td>
		</tr>
		
		<tr>
			<td colspan="6"><strong>退款信息</strong></td>
		</tr>
			{empty name="$detail"}
			<td class="layui-td-gray">款项类型<font>*</font></td>
			<td>
				<select name="fundscate_id" lay-verify="required" lay-reqText="请选择款项类型">
				<option value="">请选择款项类型</option>
				{volist name=":get_base_data('funds_cate')" id="vo"}
				<option value="{$vo.id}">{$vo.title}</option>
				{/volist}			
			</td>
			<td class="layui-td-gray">退款方式<font>*</font></td>
			<td>
				<select name="paytype_id" lay-verify="required" lay-reqText="请选择退款方式">
				<option value="">请选择付款方式</option>
				{volist name=":get_base_data('pay_type')" id="vo"}
				<option value="{$vo.id}">{$vo.title}</option>
				{/volist}			
			</td>
			<td class="layui-td-gray">退款主体<font>*</font></td>
			<td>
				<select name="enterprise_id" lay-verify="required" lay-reqText="请选择退款主体">
					<option value="">请选择退款主体</option>
					{volist name=":get_base_data('Enterprise')" id="vo"}
					<option value="{$vo.id}">{$vo.title}</option>
					{/volist}
				</select>
				<input type="hidden" name="customer_id" value="{$income.customer_id|default=0}"/>
			</td>
			{else/}
			<td class="layui-td-gray">款项类型<font>*</font></td>
			<td>
				<select name="fundscate_id" lay-verify="required" lay-reqText="请选择款项类型">
				<option value="">请选择款项类型</option>
				{volist name=":get_base_data('funds_cate')" id="vo"}
				<option value="{$vo.id}" {eq name="$detail.fundscate_id" value="$vo.id"} selected{/eq}>{$vo.title}</option>
				{/volist}			
			</td>
			<td class="layui-td-gray">退款方式<font>*</font></td>
			<td>
				<select name="paytype_id" lay-verify="required" lay-reqText="请选择退款方式">
				<option value="">请选择退款方式</option>
				{volist name=":get_base_data('pay_type')" id="vo"}
				<option value="{$vo.id}" {eq name="$detail.paytype_id" value="$vo.id"} selected{/eq}>{$vo.title}</option>
				{/volist}		
			</td>
			<td class="layui-td-gray">退款主体<font>*</font></td>
			<td>
				<select name="enterprise_id" lay-verify="required" lay-reqText="请选择退款主体">
					<option value="">请选择退款主体</option>
					{volist name=":get_base_data('Enterprise')" id="vo"}
					<option value="{$vo.id}" {eq name="$detail.enterprise_id" value="$vo.id"} selected{/eq}>{$vo.title}</option>
					{/volist}
				</select>
				<input type="hidden" name="customer_id" value="{$detail.customer_id|default=0}"/>
			</td>
			{/empty}
		<tr>
			<td class="layui-td-gray">退款金额<font>*</font></td>
			<td><input type="text" class="layui-input" name="amount" lay-verify="required|number" placeholder="请输入退款金额" lay-reqText="请输入退款金额" value="{$detail.amount|default=''}"></td>
			<td class="layui-td-gray">退款时间<font>*</font></td>
			<td><input type="text" class="layui-input tool-time" data-type="datetime" data-format="yyyy-MM-dd HH:mm" name="back_time" readonly lay-verify="required" placeholder="请选择退款时间" lay-reqText="请输入退款时间" value="{$detail.back_time|default=''}"></td>
			<td class="layui-td-gray">退款账户<font>*</font></td>
			<td>
				<input type="text" name="account" autocomplete="off" value="{$detail.account|default=''}" readonly placeholder="请选择退款账户" lay-verify="required" lay-reqText="请选择退款账户" class="layui-input picker-account">
				<input type="hidden" name="account_id" value="{$detail.account_id|default=0}">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">退款理由</td>
			<td colspan="5"><textarea name="remarks" placeholder="请输入退款理由" class="layui-textarea">{$detail.remarks|default=''}</textarea></td>
		</tr>
		<tr>
			<td class="layui-td-gray">
				<div class="layui-input-inline">相关附件</div>
				<div class="layui-input-inline">
					<button type="button" class="layui-btn layui-btn-xs" id="uploadBtn"><i class="layui-icon"></i></button>
				</div>
			</td>
			<td colspan="5">
				<div class="layui-row" id="uploadBox">
					<input type="hidden" data-type="file" name="file_ids" value="{$detail.file_ids|default=''}">
					{notempty name="$detail.file_ids"}
					{volist name="$detail.file_array" id="vo"}
					<div class="layui-col-md4" id="uploadFile{$vo.id}">{:file_card($vo)}</div>
					{/volist}
					{/notempty}
				</div>
			</td>
		</tr>
	</table>
	<div id="checkBox" data-status="{$detail.check_status|default=0}" data-id="{$detail.id|default=0}" data-checkflowid="{$detail.check_flow_id|default=0}" class="pt-3"></div>
	<div class="pt-4">
		<input type="hidden" name="id" value="{$detail.id|default=0}"/>
		<input type="hidden" name="income_id" value="{$income_id}"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool','oaPicker','oaCheck','uploadPlus'];
	function gouguInit() {
		var form = layui.form, tool = layui.tool, oaCheck  = layui.oaCheck ,uploadPlus = layui.uploadPlus,oaPicker = layui.oaPicker;
		$('body').on('click','.picker-account',function(){
			let enterprise_id = $('[name="enterprise_id"]').val();
			if(enterprise_id==0 || enterprise_id==''){
				layer.msg('请先选择退款主体');
				return false;
			}
			let that = $(this),ids = [],titles=[],map = {enterprise_id:enterprise_id},types = 'account',type = 1;
			let callback = function(data){
				for ( var i = 0; i <data.length; i++){
					ids.push(data[i].id);
					titles.push(data[i].title);
				}
				that.val(titles.join(','));
				that.next().val(ids.join(','));
			}
			oaPicker.picker(types,type,callback,map);
		})
		//相关附件上传
		var attachment = new uploadPlus();
		//审批相关
		oaCheck.init({
			check_name:'income_refund',
			check_btn:0
		});
		//监听提交
		form.on('submit(webform)', function(data){
			tool.ask('审核期间不能编辑修改，确定数据无误？', function(index) {
				let callback = function (e) {
					layer.msg(e.msg);
					if (e.code == 0) {
						let checkCallback = function (e) {
							layer.msg(e.msg);
							if (e.code == 0) {
								tool.sideClose(1000);				
							}
						}
						data.field.check_name = 'income_refund';
						data.field.action_id = e.data.return_id;
						oaCheck.submit(data.field,checkCallback);
					}
				}
				tool.post("/finance/refund/add", data.field, callback);
				layer.close(index);
			});
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->