{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}

<div class="p-page">
	<div class="layui-card border-x border-t" style="margin-bottom:0; box-shadow:0 0 0 0 rgb(5 32 96 / 0%)">
		<div class="layui-tabs layui-tab-brief" id="tab">
			<ul class="layui-tabs-header">
				<li class="layui-this">全部</li>
				<li>我申请的</li>
				<li>待我审批</li>
				<li>我已审批</li>
				<li>抄送我的</li>
			</ul>
		</div>
	</div>
	<form class="layui-form gg-form-bar border-x tab-0" id="barsearchform" lay-filter="barsearchform">
		<div class="layui-input-inline search-item" style="width:124px;">
			<select name="check_status">
				<option value="">选择审批状态</option>
				{volist name=":get_check_status()" id="vo"}
				<option value="{$key}">{$vo}</option>
				{/volist}
			</select>
		</div>
		<div class="layui-input-inline search-item" style="width:136px;">
			<select name="fundscate_id">
				<option value="">退款类型</option>
				{volist name=":get_base_data('funds_cate')" id="vo"}
				<option value="{$vo.id}">{$vo.title}</option>
				{/volist}
			</select>
		</div>
		<div class="layui-input-inline search-item" style="width:100px;">
			<select name="paytype_id">
				<option value="">退款方式</option>
				{volist name=":get_base_data('pay_type')" id="vo"}
				<option value="{$vo.id}">{$vo.title}</option>
				{/volist}	
			</select>
		</div>
		<div class="layui-input-inline search-item" style="width:100px;">
			<select name="status">
				<option value="">确认状态</option>
				<option value="1">未确认</option>
				<option value="2">已确认</option>
			</select>
		</div>
		<div class="layui-input-inline" style="width:175px;">
			<input type="text" class="layui-input" id="create_time" placeholder="选择申请时间区间" readonly name="create_time">
		</div>
		<div class="layui-input-inline" style="width:175px;">
			<input type="text" class="layui-input" id="back_time" placeholder="选择退款日期" readonly name="diff_time">
		</div>
		<div class="layui-input-inline" style="width:150px">
			<input type="hidden" name="tab" value="0"/>
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="table-search"><i class="layui-icon layui-icon-search mr-1"></i>搜索</button>
			<button type="reset" class="layui-btn layui-btn-reset" lay-filter="table-reset">清空</button>
		</div>
	</form>
	<table class="layui-hide" id="table_refund" lay-filter="table_refund"></table>
</div>

<script type="text/html" id="toolbarDemo">
  <h3>退款管理</h3>
</script>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const auth = {$auth};
	const moduleInit = ['tool','tablePlus','laydatePlus'];
	function gouguInit() {
		var table = layui.tablePlus, tool = layui.tool, laydatePlus = layui.laydatePlus, tabs = layui.tabs, form = layui.form;
		//tab切换
		tabs.on('afterChange(tab)', function(data) {
		    $('[name="tab"]').val(data.index);
			$("#barsearchform")[0].reset();
			$("#barsearchform").attr('class','layui-form gg-form-bar border-x tab-'+data.index);
			let searchObject = form.val('barsearchform');
			layui.pageTable.reload({where:searchObject,page:{curr:1}});
			return false;
		});
		
		//日期范围
		var create_time = new laydatePlus({'target':'create_time'});
		var back_time = new laydatePlus({'target':'back_time'});
		layui.pageTable = table.render({
			elem: "#table_refund"
			,title: '退款管理列表'
			,toolbar: "#toolbarDemo"
			,url: "/finance/refund/datalist"
			,excel_auth:auth
			,height: 'full-156'
			,totalRow: true
			,cols: [[
				{field:'id',width:80, title: 'ID号', align:'center'}
				,{field:'status_name',title: '审批状态',width:110,align:'center',templet: function(d){
					return '<span class="check-status-color-' + d.check_status + '">『'+d.status_name+'』</span>';
				},
				totalRowText: '<div style="text-align:right">合计</div>'
				}
				,{field:'amount',title: '退款金额',width:110,align:'right',totalRow: function (d) {return d.TOTAL_ROW.amount}}
				,{field:'fundscate',title: '退款类型',width:90,align:'center'}
				,{field:'account',title: '退款账户',width:136}
				,{field:'subject',title: '退款主体',width:200}
				,{field:'back_time',title: '退款时间',width:132,align:'center'}
				,{field:'customer',title: '退款客户'}
				,{field:'admin_name',title: '退款登记人',width:90,align:'center'}
				,{field:'create_time', title: '登记时间',width:150,align:'center'}
				,{field:'income',title: '关联收款'}
				,{field:'check_user',title: '当前审核人',width:120}
				,{width:130,fixed:'right',title: '操作', align:'center',ignoreExport:true,templet:function(d){
						var html='<div class="layui-btn-group">';
						var btn1='<span class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view">详情</span>';
						var btn2='<span class="layui-btn layui-btn-xs" lay-event="edit">编辑</span>';
						var btn3='<span class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</span>';
						var btn4='<span class="layui-btn layui-btn-warm layui-btn-xs" lay-event="confirm">退款确认</span>';
						var btn5='<span class="layui-btn layui-btn-danger layui-btn-xs" lay-event="noconfirm">反确认退款</span>';
						html+=btn1;
						if((d.check_status==0 ||d.check_status==4) && d.admin_id==login_admin){
							html+=btn2+btn3;
						}
						if(d.check_status==2 && auth==1){
							if(d.status==1){
								html+=btn4;
							}
							if(d.status==2){
								html+=btn5;
							}
						}
						html+='</div>';
						return html;
					}
				}
			]]
		});
			
		table.on('tool(table_refund)',function (obj) {
			var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
			var data = obj.data;
			if (obj.event === 'view') {
				tool.side("/finance/refund/view?id="+data.id);
				return;
			}
			if (obj.event === 'edit') {
				tool.side("/finance/refund/add?id="+data.id);
				return;
			}
			if (obj.event === 'del') {
				tool.ask('确定要删除该内容吗?', function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							obj.del();
						}
					}
					tool.delete("/finance/refund/del", { id: data.id }, callback);
					layer.close(index);
				});
				return;
			}
			if (obj.event === 'confirm') {
				tool.ask('确定要确认该收款记录到账吗?', function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layui.pageTable.reload();
						}
					}
					tool.post("/finance/api/confirm_refund", { id: data.id }, callback);
					layer.close(index);
				});
				return;
			}
			if (obj.event === 'noconfirm') {
				tool.ask('确定要反确认到账该收款记录吗?', function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layui.pageTable.reload();
						}
					}
					tool.post("/finance/api/unconfirm_refund", { id: data.id }, callback);
					layer.close(index);
				});
				return;
			}
		});
	}
</script>
{/block}
<!-- /脚本 -->