{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}

<div class="p-page">
	<form class="layui-form gg-form-bar border-t border-x" lay-filter="barsearchform">
		<div class="layui-input-inline search-item" style="width:136px;">
			<select name="fundscate_id">
				<option value="">退款类型</option>
				{volist name=":get_base_data('funds_cate')" id="vo"}
				<option value="{$vo.id}">{$vo.title}</option>
				{/volist}
			</select>
		</div>
		<div class="layui-input-inline search-item" style="width:100px;">
			<select name="paytype_id">
				<option value="">退款方式</option>
				{volist name=":get_base_data('pay_type')" id="vo"}
				<option value="{$vo.id}">{$vo.title}</option>
				{/volist}	
			</select>
		</div>
		{gt name="$is_leader" value="0"}
		<div class="layui-input-inline user-name" style="width:100px;">
			<input type="text" name="username" placeholder="下属员工" class="layui-input picker-sub" readonly />
			<input type="text" name="uid" value="" style="display:none" />	
		</div>
		{/gt}
		<div class="layui-input-inline" style="width:175px;">
			<input type="text" class="layui-input" id="confirm_time" placeholder="选择确认时间" readonly name="confirm_time">
		</div>
		<div class="layui-input-inline" style="width:175px;">
			<input type="text" class="layui-input" id="back_time" placeholder="选择退款日期" readonly name="back_time">
		</div>
		<div class="layui-input-inline" style="width:150px">
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="table-search"><i class="layui-icon layui-icon-search mr-1"></i>搜索</button>
			<button type="reset" class="layui-btn layui-btn-reset" lay-filter="table-reset">清空</button>
		</div>
	</form>
	<table class="layui-hide" id="table_refund" lay-filter="table_refund"></table>
</div>

<script type="text/html" id="toolbarDemo">
  <h3>退款记录</h3>
</script>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const auth={$auth};
	const moduleInit = ['tool','tablePlus','oaPicker','laydatePlus'];
	function gouguInit() {
		var table = layui.tablePlus, tool = layui.tool,laydatePlus = layui.laydatePlus;
		//日期范围
		var confirm_time = new laydatePlus({'target':'confirm_time'});
		var back_time = new laydatePlus({'target':'back_time'});
		layui.pageTable = table.render({
			elem: "#table_refund"
			,title: '退款记录列表'
			,toolbar: "#toolbarDemo"
			,url: "/finance/refund/record"
			,excel_auth:auth
			,height: 'full-114'
			,totalRow: true
			,cols: [[
				{field:'id',width:80, title: 'ID号', align:'center'}
				,{field:'fundscate',title: '退款类型',width:90,align:'center',totalRowText: '<div style="text-align:right">合计</div>'}
				,{field:'amount',title: '退款金额',width:110,align:'right',totalRow: function (d) {return d.TOTAL_ROW.amount}}
				,{field:'fundscate',title: '退款类型',width:90,align:'center'}
				,{field:'account',title: '退款账户',width:136}
				,{field:'subject',title: '退款主体',width:200}
				,{field:'back_time',title: '退款时间',width:132,align:'center'}
				,{field:'customer',title: '退款客户'}
				,{field:'admin_name',title: '退款登记人',width:90,align:'center'}
				,{field:'create_time', title: '登记时间',width:150,align:'center'}
				,{field:'income',title: '关联收款',minWidth:160}
				,{field:'confirm_admin',title: '退款确认人',width:90,align:'center'}
				,{field:'confirm_time', title: '退款确认时间',width:150,align:'center'}
				,{width:60,fixed:'right',title: '操作', align:'center',ignoreExport:true,templet:function(d){
						var html='<div class="layui-btn-group">';
						var btn1='<span class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view">详情</span>';
						html+=btn1;
						html+='</div>';
						return html;
					}
				}
			]]
		});
			
		table.on('tool(table_refund)',function (obj) {
			var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
			var data = obj.data;
			if (obj.event === 'view') {
				tool.side("/finance/refund/view?id="+data.id);
				return;
			}
		});
	}
</script>
{/block}
<!-- /脚本 -->