{extend name="../../base/view/common/base" /}
{block name="style"}
<style>
    ::-webkit-scrollbar { display: none; width: 6px; height: 6px; }
    ::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #e1e1e1;}
	.disk-left{width:120px; float:left; height:calc(100vh - 86px); overflow-y: auto; border:1px solid #eeeeee; background-color:#fbfbfb; padding:15px;}
	.disk-left::-webkit-scrollbar {width: 0;}
	.disk-left h3{font-size:18px; height:30px; padding-left:10px; font-weight:800}
	.disk-types{padding:12px 0;}
	.disk-types li{padding:8px; border-radius:3px; cursor:pointer;}
	.disk-types li strong{margin-right:12px; font-size:18px;}
	.disk-types li:hover{background-color:#F3F4F5;}
	.disk-types li.on-this{background-color:#F2FAFF; color:#1E9FFF}
	.disk-line{border-bottom:1px solid #eee; margin:6px 0;}
	
	.disk-table{margin-left:120px; overflow:hidden; height:calc(100vh - 56px);border:1px solid #eeeeee; border-left:0; background-color:#fff;}
	.disk-table.types-2 #thumb{display:none;}
	.disk-table.types-1 #list{display:none;}
	.layui-btn.tool-add{padding:0 12px;}
	
	.disk-path{height:42px;padding:0 4px 0 12px;}
	.disk-breadcrumb{float:left; padding:8px 0}
	.disk-breadcrumb span{color:#666; margin:0 8px; font-size:10px;}
	.layui-tab{margin:0;}
    .file-item {height:calc(100vh - 216px); overflow-y: auto;}
	.disk-path .layui-form-checkbox[lay-skin=primary]>div{padding-right:4px}
	
    /** 缩略图模式 **/
    .file-thumb {height:calc(100vh - 206px); overflow-y: auto;}
    .file-thumb .file-subject { flex: 1; overflow: hidden; overflow-y: auto; margin: 10px; box-sizing: border-box; }
    .file-thumb .file-subject:hover::-webkit-scrollbar { display: block; }
    .file-thumb .file-subject ul { display: flex; flex-wrap: wrap; }
    .file-thumb .file-subject ul li {position: relative; height: 160px; margin:12px; padding: 10px; border-radius: 4px; border:2px solid #ffffff;}
    .file-thumb .file-subject ul li:hover {border: 2px solid #f8f8f8; background-color:#F2F2F2;}
    .file-thumb .file-subject ul li.on {border: 2px solid #1e9fff; background-color:#E5F2FF}
    .file-thumb .file-subject ul li img {width: 86px; height: 86px; border-radius: 6px; padding:16px; border:1px solid rgba(0, 0, 0, 0.05); background-color:#fff;}
    .file-thumb .file-subject ul li img.file-image { width: 106px; height: 106px; padding:6px;}
    .file-thumb .file-subject ul li video { width: 60px; height: 60px; border-radius: 3px; }
    .file-thumb .file-subject ul li p {margin: 5px 0 0; width: 118px; font-size: 13px; text-align: center; word-break: break-all; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}
    .file-thumb .file-subject ul li .file-check{position: absolute; width:20px; height:20px; left: 1px; top: 1px; display: none; font-size: 14px; border-radius:2px 0 4px 0; text-align: center; line-height: 20px; color: #ffffff; background-color:#fff; border-right:1px solid #eee; border-bottom:1px solid #eee; cursor:pointer;}	
	.file-thumb .file-subject ul li:hover .file-check{display: block;}
    .file-thumb .file-subject ul li.on .file-check{ display: block; background: #1e9fff; border-color:#1e9fff}
	.file-thumb .file-subject ul li .layui-btn-ctrl{position:absolute; top:1px; right:1px; opacity: 0;}
	.file-thumb .file-subject ul li:hover .layui-btn-ctrl{opacity: 1;}
	.file-thumb .file-subject ul li .has-star{position: absolute; width:20px; height:20px; right: 1px; top: 80px; border-radius:50%; text-align: center; line-height: 20px; color: #ffffff; background-color:#ffb800; border:1px solid #fff; padding:2px;}
	.file-thumb .file-subject ul li .has-share{position: absolute; width:20px; height:20px; right: 1px; top: 108px; border-radius:50%; text-align: center; line-height: 20px; color: #ffffff; background-color:#ff5722; border:1px solid #fff; padding:2px;}
	
    .file-footer {display: flex; align-items: center; padding: 5px 15px 0; height: 45px; border-top: 1px solid #f2f2f2; text-align: center; background: #ffffff;}
    .empty{ display: flex; flex: 1; align-items: center; flex-direction: column; justify-content: center; overflow: hidden; text-align: center; color: #cccccc;}
    .empty p{width: 180px; text-align: center;}
    .empty i{font-size: 180px;}
	.file-item{cursor:pointer;white-space: nowrap;}
	
	/** 拖拽上传文件 **/
	.file-tree{padding:6px; width:680px; height:480px; overflow-y:scroll;}
	.file-tree tr.ok{color:#16baaa}
	.file-tree .folder,.file{padding:0;}
	.file-tree .folder:before{content: "📁 "; font-size:18px;}
	.file-tree .file:before{content: "📄 "; font-size:18px;}
	.del-file{color:#16b777;cursor:pointer;}
	.file-tree-bottom{padding:9px 0; text-align:center; border-top:2px solid #eeeeee;}
	.dropimg{z-index:9999999999; display:none; position:fixed; top:0;left:0; right:0; bottom:0; background-color:rgba(255,255,255,.6); text-align:center; font-size:58px; border:3px dashed #666;}
	body.drop .dropimg{display:block;}
</style>
{/block}
<!-- 主体 -->
{block name="body"}
<div class="p-page">
	<div class="disk-left">
		<h3>回收站文件</h3>
		<div id="diskTypes" class="disk-types">
			<ul>
				<li class="on-this" data-tab=""><strong class="iconfont icon-kaohezhibiao"></strong>全部</li>
				<li data-tab="image"><strong class="iconfont icon-sucaiguanli"></strong>图片</li>
				<li data-tab="video"><strong class="iconfont icon-wodekecheng"></strong>视频</li>
				<li data-tab="audio"><strong class="iconfont icon-tuiguang"></strong>音频</li>
				<li data-tab="office"><strong class="iconfont icon-chengjiliebiao"></strong>Office文件</li>
				<li data-tab="pdf"><strong class="iconfont icon-lunwenguanli"></strong>在线文档</li>
				<li data-tab="zip"><strong class="iconfont icon-xiaoshoupin"></strong>压缩文件</li>
				<li data-tab="other"><strong class="iconfont icon-wenjuan"></strong>其他文件</li>
			</ul>
		</div>
	</div>
	<div id="diskBox" class="disk-table types-2">
		<form class="layui-form gg-form-bar border-b" lay-filter="barsearchform">
			<div class="layui-input-inline" style="width:300px">
				<input type="text" name="keywords" placeholder="输入关键字，文件名称/目录名称" class="layui-input" autocomplete="off" />
			</div>
			<div class="layui-input-inline" style="width:150px">
				<input type="hidden" name="pid" value="0" />
				<input type="hidden" name="ext" value="" />
				<input type="hidden" name="limit" value="30" />
				<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform"><i class="layui-icon layui-icon-search mr-1"></i>搜索</button>
				<button type="reset" class="layui-btn layui-btn-reset">清空</button>
			</div>
			<div class="layui-input-inline" style="width:136px; padding-top:3px; float:right;">
				<div class="layui-btn-group">
					<span class="layui-btn layui-btn-sm layui-btn-primary" id="fileThumb">缩略模式</span>
					<span class="layui-btn layui-btn-sm" id="fileList">列表模式</span>
				</div>
			</div>
		</form>
		<div class="disk-path layui-form border-b">
			<div class="disk-breadcrumb" id="diskPath"><i class="layui-icon layui-icon-windows"></i> <a href="javascript:void(0);" data-id="0">回收站</a></div>
		</div>
		<div id="thumb">
			<!-- 主体 -->
			<div class="file-thumb">
				<div class="file-subject">
					<ul id="filesBox"></ul>
				</div>
			</div>
			<!-- 页脚 -->
			<div class="file-footer">
				<div id="laypage"></div>
			</div>
		</div>
		
		<div id="list">
			<table class="layui-hide" id="table_list" lay-filter="table_list"></table>
		</div>
    </div>
</div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const typeExt = ['all','image','video','audio','pdf','office','article','zip','other'];
	const fileExt={
		all:[],
		image:['jpg','jpeg','png','gif'],
		video:['mpg','mp4','mpeg','avi','wmv','mov','flv','m4v'],
		audio:['mp3','wav','wma','flac','midi'],
		pdf:['txt','pdf'],
		office:['doc','docx','xls','xlsx','ppt','pptx'],
		article:['article'],
		zip:['zip','rar','7z','gz','tar'],
		other:['other']
	};
	
	function fileDo(item){
		let type = '0,10',ext="zip",is_star='';
		let path='/static/home/images/icon/file.png';
		if (fileExt.image.includes(item.file_ext)) {
			path=item.filepath;
			type = '0,1,10';
			ext="image";
		}
		if (fileExt.office.includes(item.file_ext)) {
			type = '0,1,10';
			ext="office";
			path='/static/home/images/icon/'+item.file_ext+'.png';
		}
		if (item.file_ext == 'pdf' || item.file_ext == 'txt') {
			type = '0,1,10';
			ext="pdf";
			path='/static/home/images/icon/'+item.file_ext+'.png';
		}								
		if (fileExt.video.includes(item.file_ext)) {
			type = '0,1,10';
			ext="video";
			path='/static/home/images/icon/video.png';
		}
		if (fileExt.audio.includes(item.file_ext)) {
			type = '0,1,10';
			ext="audio";
			path='/static/home/images/icon/audio.png';
		}
		if (fileExt.zip.includes(item.file_ext)) {
			type = '0,10';
			ext="zip";
			path='/static/home/images/icon/rar.png';
		}
		if(fileExt.article.includes(item.file_ext)){
			type = '1,10';
			ext="article";
			path='/static/home/images/icon/article.png';
		}
		if(item.file_ext == 'folder'){
			type = '10';
			ext="folder";
			path='/static/home/images/icon/folder.png';
		}
		return {type:type,path:path,ext:ext,is_star:is_star};
	}
	var types=2;
	const moduleInit = ['tool','uploadPlus','tablePlus'];
	function gouguInit() {
		var tool = layui.tool,uploadPlus = layui.uploadPlus,table = layui.tablePlus,form = layui.form,laypage = layui.laypage;
		
		$('#fileThumb').click(function(){
			types=1;
			$(this).attr('class','layui-btn layui-btn-sm');
			$('#fileList').attr('class','layui-btn layui-btn-sm layui-btn-primary');
			$('#diskBox').attr('class','disk-table types-1');
			$('[lay-filter="all"]').removeAttr('disabled');
			$('.layui-form-checkbox').animate({opacity: 1 },200);
			$('[lay-filter="webform"]').click();
		})
		
		$('#fileList').click(function(){
			types=2;
			$(this).attr('class','layui-btn layui-btn-sm');
			$('#fileThumb').attr('class','layui-btn layui-btn-sm layui-btn-primary');
			$('#diskBox').attr('class','disk-table types-2');
			$('[lay-filter="all"]').attr('disabled',true);
			$('.layui-form-checkbox').animate({opacity: 0.3 },200);
			$('[lay-filter="webform"]').click();
		})
		
		let ctrl_callback = function (e) {
			if(e.code == 0){
				layer.closeAll();
				layer.msg(e.msg);
				$('[lay-filter="webform"]').click();
			}
			else{
				layer.msg(e.msg);
			}
		}
		
		//左侧操作
		$('#diskTypes').on('click','li',function(){
			$(this).addClass('on-this').siblings().removeClass('on-this');
			let tab = $(this).data('tab');
			$('[name="pid"]').val(0);
			$('[name="keywords"]').val('');
			if(tab==''){
				$('[name="ext"]').val('');
			}
			else{
				$('[name="ext"]').val(fileExt[tab]);
			}
			$('[lay-filter="webform"]').click();
		})
		
		//顶部目录操作
		$('#diskPath').on('click','a',function(){
			let id=$(this).data('id');
			$('[name="pid"]').val(id);
			$('[lay-filter="webform"]').click();
		})
		
		//查看文件
		$('#filesBox,#list').on('click','.file-item',function(){
			let id = $(this).parent().data('id');
			let href = $(this).data('href');
			let ext = $(this).data('ext');
			if(ext == 'video'){
				tool.videoView(href);
			}
			else if(ext == 'audio'){
				tool.audioView(href);
			}
			else if(ext == 'image'){
				tool.photoView(href);
			}
			else if(ext == 'pdf'){
				tool.pdfView(href);
			}
			else if(ext == 'article'){
				tool.articleView(id);
			}
			else if(ext == 'folder'){
				$('[name="pid"]').val(id);
				$('[lay-filter="webform"]').click();
			}
			else{
				return false;
			}
		})
		
		//单文件还原
		$('#filesBox,#list').on('click','.file-back',function(){
			let id = $(this).parent().parent().data('id');
			layer.confirm('确定要还原该文件吗？', { icon: 3, title: '提示' }, function (index) {
				tool.delete("/disk/index/back", {ids:id}, ctrl_callback);
			});
		})
		
		//单文件清除
		$('#filesBox,#list').on('click','.file-clear',function(){
			let id = $(this).parent().parent().data('id');
			layer.confirm('确定要清除该文件吗？清除后将不可恢复', { icon: 3, title: '提示' }, function (index) {
				tool.post("/disk/index/clear", {ids:id}, ctrl_callback);
			});
		})
		
		//加载数据
		var data = form.val('barsearchform');
		if(types==1){
			get_files(data);
		}
		
		form.on('submit(webform)', function (data) {
			if(types==1){
				get_files(data.field);
			}
			else{
				layui.fileTable.reload({
					where: data.field,
					page: {curr: 1}
				});
			}
			return false;
		});
		
		$('.layui-btn-reset').click(function(){
			setTimeout(function(){
				$('[lay-filter="webform"]').click();
			},200)
		})
		
		function get_files(param){
			var loadIndex = layer.load(0);
			$.ajax({
				url:"/disk/index/clearlist",
				data:param,
				complete:function(){
					layer.close(loadIndex)
				},
				success:function(res){
					$('[name="select_all"]').prop('checked', false);
					form.render('checkbox');
					if(res.code==0){
						laypage.render({
							elem: 'laypage',
							limit:param['limit'],
							curr:param['page'],
							count: res.count, // 数据总数
							jump: function(obj, first){
								//console.log(obj.curr); // 得到当前页，以便向服务端请求对应页的数据。
								//console.log(obj.limit); // 得到每页显示的条数
								// 首次不执行
								if(!first){
									var data = form.val('barsearchform');
									data['page'] = obj.curr;
									get_files(data);
								}
							}
						});

						let folder = res.totalRow;
						let folderHtml='<i class="layui-icon layui-icon-windows"></i> <a href="javascript:void(0);" data-id="0">回收站</a>';
						if(folder.length>0){
							for(var f=0;f<folder.length;f++){
								folderHtml+='<span> 〉</span><a href="javascript:void(0);" data-id="'+folder[f].id+'">'+folder[f].name+'</a>';
							}
						}
						$('#diskPath').html(folderHtml);
					
						var item=res.data,li='';
						if(item.length>0){
							for(var a=0;a<item.length;a++){								
								let fileitem = fileDo(item[a]);
								ctrl = '<span class="layui-btn layui-btn-xs layui-btn-normal file-ctrl" data-ctrl="disk" data-fileid="'+item[a].id+'" data-actionid="'+item[a].action_id+'" data-href="'+item[a].filepath+'" data-filename="'+item[a].name+'" data-ext="'+fileitem.ext+'" data-type="'+fileitem.type+'">操作</span>';
								
								li+='<li data-id="'+item[a].id+'" data-title="'+item[a].name+'" data-ext="'+item[a].file_ext+'" data-types="'+item[a].types+'"><img src="'+fileitem.path+'" alt="'+item[a].name+'" style="object-fit: contain;" class="file-item file-'+fileitem.ext+'" data-href="'+item[a].filepath+'" data-ext="'+fileitem.ext+'"><p title="'+item[a].name+'">'+item[a].name+'</p>\
									<div class="layui-btn-ctrl">'+ctrl+'\
									<span class="file-back" style="display:none;" id="fileBack'+item[a].id+'" title="还原"></span>\
									<span class="file-clear" style="display:none;" id="fileClear'+item[a].id+'" title="清除"></span>\
									</div></li>';
							}
							$('#filesBox').html(li);
							$('#laypage').show();
						}
						else{
							$('#filesBox').html('<div class="empty"><i class="layui-icon layui-icon-upload"></i><p>无文件文件</p></div>');
							$('#laypage').hide();
						}
					}	
				}				
			});
		}
		
		//列表数据加载
		layui.fileTable = table.render({
			elem: "#table_list"
			,toolbar: false
			,url: "/disk/index/clearlist"
			,page: true
			,limit: 30
			,where:data
			,cellMinWidth: 80
			,height: 'full-156'
			,skin:'line'
			,size:'lg'
			,cols: [[
				{field:'name',title: '文件名',minWidth:240,templet:function(d){
					let fileitem = fileDo(d);
					return '<div data-id="'+d.id+'"><div class="file-item file-item-'+fileitem.ext+'" data-href="'+d.filepath+'" data-ext="'+fileitem.ext+'"><div style="float:left; width:33px; height:33px; margin-right:10px; margin-left:3px;"><img src="'+fileitem.path+'" style="width:100%; height:100%; vertical-align:top;object-fit: cover;" /></div><span>'+d.name+'</span></div></div>';
				}}
				,{field:'file_size',title: '文件大小',align: 'center',width: 120,templet:function(d){
					if(d.file_size>0){
						return tool.renderSize(d.file_size);
					}else{
						return '-';
					}
				}}
				,{field:'admin_name',title: '创建人',width:100,align:'center'}
				,{field:'create_time', title: '创建时间',width:150,align:'center'}
				,{width:100,fixed:'right',title: '操作', align:'center',ignoreExport:true,templet: function(d){
					let fileitem = fileDo(d);
					var ctrl = '<div data-id="'+d.id+'" data-title="'+d.name+'" data-ext="'+d.file_ext+'" data-types="'+d.types+'"><span class="layui-btn layui-btn-xs layui-btn-normal file-ctrl" data-ctrl="disk" data-fileid="'+d.id+'" data-actionid="'+d.action_id+'" data-href="'+d.filepath+'" data-filename="'+d.name+'" data-ext="'+fileitem.ext+'" data-type="'+fileitem.type+'">操作</span><div style="display:none"><span class="file-back" id="fileBack'+d.id+'" title="还原"></span><span class="file-clear" id="fileClear'+d.id+'" title="清除"></span>\</div></div>';
					return ctrl
				}}
			]],
			done:function(res){
				let folder = res.totalRow;
				let folderHtml='<i class="layui-icon layui-icon-windows"></i> <a href="javascript:void(0);" data-id="0">回收站</a>';
				if(folder.length>0){
					for(var f=0;f<folder.length;f++){
						folderHtml+='<span> 〉</span><a href="javascript:void(0);" data-id="'+folder[f].id+'">'+folder[f].name+'</a>';
					}
				}
				$('#diskPath').html(folderHtml);
			}
		});
	}
</script>
{/block}
<!-- /脚本 -->