{extend name="../../base/view/common/base" /}
{block name="style"}
<style>
    ::-webkit-scrollbar { display: none; width: 6px; height: 6px; }
    ::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #e1e1e1;}
	.disk-left{width:180px; position: relative;  float:left; height:calc(100vh - 86px); overflow-y: auto; border:1px solid #eeeeee; background-color:#fbfbfb; padding:15px 0; user-select: none;}
	.disk-left::-webkit-scrollbar {width: 0;}
	.disk-left h3{font-size:18px; height:30px; padding-left:10px; font-weight:800}
	
	.disk-table{margin-left:120px; overflow:hidden; height:calc(100vh - 56px);border:1px solid #eeeeee; border-left:0; background-color:#fff;}
	.disk-table.types-2 #thumb{display:none;}
	.disk-table.types-1 #list{display:none;}
	.layui-btn.tool-add{padding:0 12px;}
	
	.disk-path{height:42px;padding:0 4px 0 12px;}
	.disk-breadcrumb{float:left; padding:8px 0}
	.disk-breadcrumb span{color:#666; margin:0 3px; font-size:10px;}
	.disk-path .layui-tabs-header{height:42px;}
	.disk-path .layui-tabs-header li{padding:0 10px;line-height:42px; font-size:13px;}

    /** 共享空间 **/
    .disk-group {display: flex; flex-direction: column; width: 180px; border-right: 1px solid #f6f6f6; padding-top:12px;}
    .disk-group ul::-webkit-scrollbar { display: block; }
    .disk-group ul { flex: 1; overflow: hidden; overflow-y: auto;}
    .disk-group ul li {display: flex; align-items: center; justify-content: space-between; cursor:pointer; padding-left:12px; padding-right:4px; height: 42px; color: #666666; }
    .disk-group ul li i.layui-icon-component{ margin-right:4px; font-size:20px;font-weight:800;}
    .disk-group ul li i.layui-icon-more-vertical{font-size:20px; padding-right：12px;}
    .disk-group ul li > span { display: flex; flex: 1; overflow: hidden; margin-right: 0.5rem; text-overflow: ellipsis; white-space: nowrap; }
    .disk-group ul li.active { background: #F2FAFF; color:#1e9fff;}
    .disk-group ul li:hover { background: #f5f7fa; color:#1e9fff;}
    .disk-group ul li .dropdown:hover dl { display: block; }
    .disk-group ul li .dropdown dl { position: absolute; top: 36px; right: -15px; z-index: 10000; display: none; padding: 5px 0; width: 88px; border-radius: 2px; text-align: center; background-color: #ffffff; box-shadow: #cccccc 0 0 10px; }
    .disk-group ul li .dropdown dl dd { height: 32px; line-height: 32px; }
    .disk-group ul li .dropdown dl dd:hover { color: #4a5dff; background-color: #edefff; }
    .disk-group ul li .dropdown dl::before { position: absolute; top: -16px; left: 44px; z-index: 12; display: block; padding: 0; width: 0; height: 0; border-top: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #ffffff; border-left: 8px solid transparent; content: ""; box-sizing: content-box; }
    .group-footer { display: flex; align-items: center; justify-content: center; width: 100%; height: 50px; position:absolute;bottom:0; border-top: 1px solid #f2f2f2; border-right: 1px solid #f2f2f2; }
	
    /** 缩略图模式 **/
    .file-thumb {height:calc(100vh - 206px); overflow-y: auto;}
    .file-thumb .file-subject { flex: 1; overflow: hidden; overflow-y: auto; margin: 10px; box-sizing: border-box; }
    .file-thumb .file-subject:hover::-webkit-scrollbar { display: block; }
    .file-thumb .file-subject ul { display: flex; flex-wrap: wrap; }
    .file-thumb .file-subject ul li {position: relative; height: 160px; margin:12px; padding: 10px; border-radius: 4px; border:2px solid #ffffff;}
    .file-thumb .file-subject ul li:hover {border: 2px solid #f8f8f8; background-color:#F2F2F2;}
    .file-thumb .file-subject ul li.on {border: 2px solid #1e9fff; background-color:#E5F2FF}
    .file-thumb .file-subject ul li img {width: 86px; height: 86px; border-radius: 6px; padding:16px; border:1px solid rgba(0, 0, 0, 0.05); background-color:#fff;}
    .file-thumb .file-subject ul li img.file-image { width: 106px; height: 106px; padding:6px;}
    .file-thumb .file-subject ul li video { width: 60px; height: 60px; border-radius: 3px; }
    .file-thumb .file-subject ul li p {margin: 5px 0 0; width: 118px; font-size: 13px; text-align: center; word-break: break-all; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}
    .file-thumb .file-subject ul li .file-check{position: absolute; width:20px; height:20px; left: 1px; top: 1px; display: none; font-size: 14px; border-radius:2px 0 4px 0; text-align: center; line-height: 20px; color: #ffffff; background-color:#fff; border-right:1px solid #eee; border-bottom:1px solid #eee; cursor:pointer;}	
	.file-thumb .file-subject ul li:hover .file-check{display: block;}
    .file-thumb .file-subject ul li.on .file-check{ display: block; background: #1e9fff; border-color:#1e9fff}
	.file-thumb .file-subject ul li .layui-btn-ctrl{position:absolute; top:1px; right:1px; opacity: 0;}
	.file-thumb .file-subject ul li:hover .layui-btn-ctrl{opacity: 1;}
	.file-thumb .file-subject ul li .has-star{position: absolute; width:20px; height:20px; right: 1px; top: 80px; border-radius:50%; text-align: center; line-height: 20px; color: #ffffff; background-color:#ffb800; border:1px solid #fff; padding:2px;}
	.file-thumb .file-subject ul li .has-share{position: absolute; width:20px; height:20px; right: 1px; top: 108px; border-radius:50%; text-align: center; line-height: 20px; color: #ffffff; background-color:#ff5722; border:1px solid #fff; padding:2px;}
	
    .file-footer {display: flex; align-items: center; padding: 5px 15px 0; height: 45px; border-top: 1px solid #f2f2f2; text-align: center; background: #ffffff;}
    .empty{ display: flex; flex: 1; align-items: center; flex-direction: column; justify-content: center; overflow: hidden; text-align: center; color: #cccccc;}
    .empty p{width: 180px; text-align: center;}
    .empty i{font-size: 180px;}
	.file-item{cursor:pointer;white-space: nowrap;}
	
	/** 拖拽上传文件 **/
	.file-tree{padding:6px; width:680px; height:480px; overflow-y:scroll;}
	.file-tree tr.ok{color:#16baaa}
	.file-tree .folder,.file{padding:0;}
	.file-tree .folder:before{content: "📁 "; font-size:18px;}
	.file-tree .file:before{content: "📄 "; font-size:18px;}
	.del-file{color:#16b777;cursor:pointer;}
	.file-tree-bottom{padding:9px 0; text-align:center; border-top:2px solid #eeeeee;}
	.dropimg{z-index:9999999999; display:none; position:fixed; top:0;left:0; right:0; bottom:0; background-color:rgba(255,255,255,.6); text-align:center; font-size:58px; border:3px dashed #666;}
	body.drop .dropimg{display:block;}
</style>
{/block}
<!-- 主体 -->
{block name="body"}
<div class="p-page">
	<div class="disk-left">
		<h3>共享空间</h3>
		<div class="disk-group">
			<ul id="group">					
				<li data-id="1" class="active"><i class="layui-icon layui-icon-component"></i><span>公司共享</span></li>					
			</ul>
		</div>
		<div class="group-footer">
			<span class="layui-btn layui-btn-primary layui-btn-sm add-new">创建共享空间</span>
		</div>
	</div>
	<div id="diskBox" class="disk-table types-2">
		<form class="layui-form gg-form-bar border-b" lay-filter="barsearchform">
			<div class="layui-input-inline" style="width:312px">
				<div class="layui-btn-group">
					<span class="layui-btn tool-add tool-tips" data-tips="拖拽文件到页面也可以上传哦(^_^)" id="uploadBtn"><strong class="iconfont icon-shangchuan"></strong> 上传文件</span>
					<span class="layui-btn layui-btn-normal tool-add tool-tips" data-tips="新建在线文档" id="addArticle"><strong class="iconfont icon-lunwenguanli"></strong> 新建文档</span>
					<span class="layui-btn layui-btn-warm tool-add tool-tips" data-tips="新建文件目录" id="addFolder"><strong class="iconfont icon-xiangmuguanli"></strong> 新建目录</span>
				 </div>
			</div>
			<div class="layui-input-inline" style="width:300px">
				<input type="text" name="keywords" placeholder="输入关键字，文件名称/目录名称" class="layui-input" autocomplete="off" />
			</div>
			<div class="layui-input-inline" style="width:150px">
				<input type="hidden" name="pid" value="0" />
				<input type="hidden" name="ext" value="" />
				<input type="hidden" name="group_id" value="1" />
				<input type="hidden" name="group_name" value="公司共享" />
				<input type="hidden" name="limit" value="30" />
				<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform"><i class="layui-icon layui-icon-search mr-1"></i>搜索</button>
				<button type="reset" class="layui-btn layui-btn-reset">清空</button>
			</div>
			<div class="layui-input-inline" style="width:132px; padding-top:3px; float:right;">
				<div class="layui-btn-group">
					<span class="layui-btn layui-btn-sm layui-btn-primary" id="fileThumb">缩略模式</span>
					<span class="layui-btn layui-btn-sm" id="fileList">列表模式</span>
				</div>
			</div>
		</form>
		<div class="disk-path layui-form border-b">
			<div class="disk-breadcrumb" id="diskPath"><i class="layui-icon layui-icon-windows"></i> <a href="javascript:void(0);" data-id="1">共享空间</a></div>
			<div class="layui-input-inline" style="width:482px; float:right;">
				<div class="layui-tabs layui-tab-brief" id="tab">
					<ul class="layui-tabs-header">
						<li class="layui-this" lay-id="">全部</li>
						<li lay-id="image">图片</li>
						<li lay-id="video">视频</li>
						<li lay-id="audio">音频</li>
						<li lay-id="pdf">PDF</li>
						<li lay-id="office">办公文档</li>
						<li lay-id="online">在线文档</li>
						<li lay-id="zip">压缩包</li>
						<li lay-id="other">其他</li>
					</ul>
				</div>
			</div>
		</div>	
		<div id="thumb">
			<!-- 主体 -->
			<div class="file-thumb">
				<div class="file-subject">
					<ul id="filesBox"></ul>
				</div>
			</div>
			<!-- 页脚 -->
			<div class="file-footer">
				<div id="laypage"></div>
			</div>
		</div>
		
		<div id="list">
			<table class="layui-hide" id="table_list" lay-filter="table_list"></table>
		</div>
    </div>
</div>
<div class="dropimg"><div style="padding-top:20%">上传文件到当前目录下</div></div>			
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>	
	const typeExt = ['all','image','video','audio','pdf','office','article','zip','other'];
	const fileExt={
		all:[],
		image:['jpg','jpeg','png','gif'],
		video:['mpg','mp4','mpeg','avi','wmv','mov','flv','m4v'],
		audio:['mp3','wav','wma','flac','midi'],
		pdf:['txt','pdf'],
		office:['doc','docx','xls','xlsx','ppt','pptx'],
		article:['article'],
		zip:['zip','rar','7z','gz','tar'],
		other:['other']
	};
	
	function validFileName(fileName) {
		const illegalChars = /[\\\/\*\:"<>|\?]/;
		return !illegalChars.test(fileName);
	}
	
	function fileDo(item){
		let type = '0,3,4,5',ext="zip",is_star='';
		// 判断元素是否在数组中
		let path='/static/home/images/icon/file.png';
		if (fileExt.image.includes(item.file_ext)) {
			path=item.thumbpath;
			type = '0,1,3,4,5';
			ext="image";
		}
		if (fileExt.office.includes(item.file_ext)) {
			type = '0,1,3,4,5';
			ext="office";
			path='/static/home/images/icon/'+item.file_ext+'.png';
		}
		if (fileExt.pdf.includes(item.file_ext)) {
			type = '0,1,3,4,5';
			ext="pdf";
			path='/static/home/images/icon/'+item.file_ext+'.png';
		}								
		if (fileExt.video.includes(item.file_ext)) {
			type = '0,1,3,4,5';
			ext="video";
			path='/static/home/images/icon/video.png';
		}
		if (fileExt.audio.includes(item.file_ext)) {
			type = '0,1,3,4,5';
			ext="audio";
			path='/static/home/images/icon/audio.png';
		}
		if (fileExt.zip.includes(item.file_ext)) {
			type = '0,3,4,5';
			ext="zip";
			path='/static/home/images/icon/rar.png';
		}
		if(fileExt.article.includes(item.file_ext)){
			type = '1,2,3,4,5';
			ext="article";
			path='/static/home/images/icon/article.png';
		}
		if(item.file_ext == 'folder'){
			type = '3,4,5';
			ext="folder";
			path='/static/home/images/icon/folder.png';
		}
		return {type:type,path:path,ext:ext,is_star:is_star};
	}
	var types=2;
	const moduleInit = ['tool','uploadPlus','tablePlus'];
	function gouguInit() {
		var tool = layui.tool,uploadPlus = layui.uploadPlus,table = layui.tablePlus,form = layui.form,laypage = layui.laypage,tabs = layui.tabs,dropdown  = layui.dropdown ;
		
// 拖拽
		let files = [],folders=[];droping=false;
        const drop = $('body');
        drop.bind('dragenter', function (e) {
			drop.addClass('drop');
        })
        drop.bind('dragleave', function (e) {
			if(droping==false){
				layer.open({
					type: 1,
					area: ['692px', '600px'],
					title: '拖拽文件夹及文件上传',
					shade: 0.6, // 遮罩透明度
					content: '<div class="file-tree">\
								<table id="fileTree" class="layui-table layui-table-min" style="margin:0 auto;">\
									<tr><th>文件名</th><th width="80">文件大小</th><th width="80">上传状态</th><th width="80">操作</th></tr>\
								</table>\
							</div>\
							<div class="file-tree-bottom"><span class="layui-btn layui-bg-blue" id="fileTreeUpload">开始上传</span> <span class="layui-btn layui-btn-primary" id="fileTreeClear">清空文件</span></div>',
					success:function(){
						droping=true;
						$('#fileTreeUpload').on('click',function(){
							let a=0;
							$.each(files, function(index, file) {
								if(file.isok==0){
									let formData = new FormData(); // 创建 FormData 对象
									formData.append('file', file); // 将文件添加到 FormData
									formData.append('filePath', file.filePath); // 将文件添加到 FormData
									formData.append('pid',$('[name="pid"]').val());// 将当前文件夹添加到 FormData
									formData.append('group_id',$('[name="group_id"]').val());// 将当前文件夹添加到 FormData
									// 使用 jQuery AJAX 上传文件
									setTimeout(function () {
										$.ajax({
											url: '/disk/api/drop_upload', // 服务器接收文件的接口
											type: 'POST',
											data: formData,
											contentType: false, // 必须设置为 false，使用 FormData 对象不设置内容类型
											processData: false, // 不处理数据
											success: function(e) {
												if(e.code==0){
													files[index].isok = 1;
													$('#'+file.id).addClass('ok').find('td').eq(2).html('已上传');
													$('#'+file.id).addClass('ok').find('td').eq(3).html('-');
													layer.msg(files[index].name+'上传完成');
												}
											},
											error: function(e) {
												$('#file'+index).addClass('error');	
											}
										});
									}, 300*a);
									a++;
								}
							});
						})

						$('#fileTreeClear').on('click',function(){						
							// 这里可以进行文件的上传操作
							files.length = 0;
							$('#fileTree').html('');
						})		

						$('#fileTree').on('click','.del-file',function(){
							let id = $(this).data('id');
							let element = files.find(item => item.id === id);
							// 如果找到元素，就将 isok 修改为 1
							if (element) {
								console.log(element);
								element.isok = 2;
								$('#'+id).remove();
							}
						})							
					},
					end:function(){						
						droping=false;
						files.length = 0;
						$('[lay-filter="webform"]').click();
					}
				});		
			}
        })
        $(document).bind('dragover', function (e) {
            e.preventDefault();
			e.stopPropagation();
            return false
        })
        $(document).bind('drop', function (e) {
            e.preventDefault();
			e.stopPropagation();
			drop.removeClass('drop');
            return false
        })
		
		let count = 0,num = 0;
        drop.bind('drop', function (e) {
            const items = e.originalEvent.dataTransfer.items;
            for (let i = 0; i < items.length; i++) {
                let item = items[i];
                if (item.kind == 'file') {
                    let entry = item.webkitGetAsEntry();
					//console.log(entry);
                    //递归解析文件夹
                    getCount(entry)
                    setTimeout(() => {
						entry.id='file'+num;
						num++;
                        getFilesFromEntry(entry);
                    }, 200)
                }
            }
        })
 
        function getCount(entry) {
            if (entry.isFile) {
                entry.file(
                    file => {
                        count++
                    },
                    err => {
                        console.log(err);
                    }
                )
            } else {
                const entryReader = entry.createReader()
                entryReader.readEntries(
                    (results) => {
                        results.forEach(result => {
                            getCount(result);
                        })
                    },
                    (error) => {
                        console.log(error);
                    }
                );
            }
        }
		
        function getFilesFromEntry(entry) {
            if (entry.isFile) {
                entry.file(
                    file => {
                        file.filePath = entry.fullPath.slice(1);
						file.isok=0;
						file.id=entry.id;
						
						let element = files.find(item => item.filePath === file.filePath);						
						if (element) {
							console.log(files);
						}
						else{
							files.push(file);
							let tr = '<tr class="file-tr" id="'+file.id+'"><td style="text-align:left;"><div class="file">'+entry.fullPath+'</div></td><td>'+tool.renderSize(file.size)+'</td><td>等待上传</td><td class="del-file" data-id="'+file.id+'">取消</td></tr>';
							$('#fileTree').append(tr);
						}
                    },
                    err => {
                        console.log(err);
                    }
                )
            } else {
                const entryReader = entry.createReader();
                entryReader.readEntries(
                    (results) => {
                        results.forEach(result => {
							result.id='file'+num;
							num++;
                            getFilesFromEntry(result);
                        })
                    },
                    (error) => {
                        console.log(error);
                    }
                );
            }			
        }
		
		
		$('#fileThumb').click(function(){
			types=1;
			$(this).attr('class','layui-btn layui-btn-sm');
			$('#fileList').attr('class','layui-btn layui-btn-sm layui-btn-primary');
			$('#diskBox').attr('class','disk-table types-1');
			$('[lay-filter="all"]').removeAttr('disabled');
			$('.layui-form-checkbox').animate({opacity: 1 },200);
			$('[lay-filter="webform"]').click();
		})
		
		$('#fileList').click(function(){
			types=2;
			$(this).attr('class','layui-btn layui-btn-sm');
			$('#fileThumb').attr('class','layui-btn layui-btn-sm layui-btn-primary');
			$('#diskBox').attr('class','disk-table types-2');
			$('[lay-filter="all"]').attr('disabled',true);
			$('.layui-form-checkbox').animate({opacity: 0.3 },200);
			$('[lay-filter="webform"]').click();
		})
		
		
		let fileGroup = [{id:0,title:'公司共享'}];
		tabs.on('afterChange(tab)', function(data){
			if(data.index==0){
				$('[name="ext"]').val('');
			}
			else{
				let ext = typeExt[data.index];
				$('[name="ext"]').val(fileExt[ext]);
			}
			$('[lay-filter="webform"]').click();
			return false;
		});	
		//上传文件
        var attachment = new uploadPlus({
            "title":'上传文件',
            "target":'uploadBtn',
            "attachment":{
                "type":1,//0ajax多文件模式，1ajax单文件单记录模式
                "ajaxSave":function(res){
                    $.ajax({
                        url: "/disk/api/drop_upload",
                        type:'post',
                        data:{
							'pid':$('[name="pid"]').val(),
							'group_id':$('[name="group_id"]').val(),
                            'action_id':res.data.id,
                            'name':res.data.name,
                            'id':0,
                            'file_size':res.data.filesize,
                            'file_ext':res.data.fileext
                        },
                        success: function (e) {
                            layer.msg(e.msg);
                            if (e.code == 0) {
                                $('[lay-filter="webform"]').click();                            
                            }
                        }
                    })
                }
            }
        })
		
		let ctrl_callback = function (e) {
			if(e.code == 0){
				layer.closeAll();
				layer.msg(e.msg);
				$('[lay-filter="webform"]').click();
			}
			else{
				layer.msg(e.msg);
			}
		}
		
		//顶部目录操作
		$('#diskPath').on('click','a',function(){
			let id=$(this).data('id');
			$('[name="pid"]').val(id);
			$('[lay-filter="webform"]').click();
		})
		
		//新增在线文档
		$('#addArticle').on('click',function(){
			tool.side('/disk/index/add_article?pid='+$('[name="pid"]').val()+'&group_id='+$('[name="group_id"]').val());
		})
		
		//新增目录
		$('#addFolder').on('click',function(){
			layer.prompt({title: '请输入目录名称'}, function(val, index, elem){
				if(val==''){
					layer.msg('目录名称不能为空');
					return false;
				}
				if(validFileName(val)==false){
					layer.msg('目录名称不能包含下列任何字符：\/:*?".<>|');
					return false;
				}
				$.ajax({
					url: "/disk/index/add_folder",
					type:'post',
					data:{
						'id':0,
						'pid':$('[name="pid"]').val(),
						'group_id':$('[name="group_id"]').val(),
						'name':val
					},
					success: ctrl_callback
				})
			});
		})
		
		//查看文件
		$('#filesBox,#list').on('click','.file-item',function(){
			let id = $(this).parent().data('id');
			let href = $(this).data('href');
			let ext = $(this).data('ext');
			if(ext == 'video'){
				tool.videoView(href);
			}
			else if(ext == 'audio'){
				tool.audioView(href);
			}
			else if(ext == 'image'){
				tool.photoView(href);
			}
			else if(ext == 'pdf'){
				tool.pdfView(href);
			}
			else if(ext == 'article'){
				tool.articleView(id);
			}
			else if(ext == 'folder'){
				$('[name="pid"]').val(id);
				$('[lay-filter="webform"]').click();
			}
			else{
				return false;
			}
		})
		
		//重命名文件
		$('#filesBox,#list').on('click','.name-edit',function(){
			let id = $(this).parent().parent().data('id');
			let title = $(this).parent().parent().data('title');
			let ext = $(this).parent().parent().data('ext');
			let types = $(this).parent().parent().data('types');
			title = title.toString().replace(/\.[^.]+$/, "");
			layer.prompt({title: '重命名',value:title}, function(val, index, elem){
				if(val==''){
					layer.msg('文件名不能为空');
					return false;
				}
				if(validFileName(val)==false){
					layer.msg('文件名不能包含下列任何字符：\/:*?".<>|');
					return false;
				}
				if(types == 0){
					val =  val+'.'+ext;
				}
				tool.post("/disk/index/rename", {id:id,name:val,group_id:$('[name="group_id"]').val(),pid:$('[name="pid"]').val()}, ctrl_callback);
			});
		})		
		
		//单文件删除
		$('#filesBox,#list').on('click','.file-delete',function(){
			let id = $(this).parent().parent().data('id');
			layer.confirm('确定要删除该文件吗？请慎重', { icon: 3, title: '提示' }, function (index) {
				tool.delete("/disk/index/del", {ids:id}, ctrl_callback);
			});
		})
		
		//单文件移动
		$('#filesBox,#list').on('click','.file-move',function(){
			let ids = $(this).parent().parent().data('id');
			layer.open({
				type: 2,
				title: '移动到',
				area: ['720px', '480px'],
				content: '/disk/index/move?group_id='+$('[name="group_id"]').val(),
				maxmin: true,
				btn: ['移动到此', '取消'],
				btnAlign: 'c',
				yes: function(index, layero){
					// 获取 iframe 的窗口对象
					let iframeWin =  window[layero.find('iframe')[0]['name']];
					let pid = iframeWin.$('#folder').val();
					let group_id = iframeWin.$('#group_id').val();
					tool.post("/disk/index/move", {ids:ids,pid:pid,group_id:group_id}, ctrl_callback);
				}
			});
		})
		
		
		$('body').on('click','.add-new',function(){
			add_group(0,'');	
		});
		
		$('#group').on('click','li span',function(){
			let li=$(this).parent();
			li.addClass('active').siblings().removeClass('active');
			let id=li.data('id');
			let name=li.text();
			$('[name="pid"]').val(0);
			$('[name="group_id"]').val(id);
			$('[name="group_name"]').val(name);
			$('#tab').find('li').eq(0).click();
			//$('[lay-filter="webform"]').click();
		});
			
		function add_group(id,val){
			var title = '创建共享空间';
			if(id>0){
				title = '重命名共享空间';
			}
			layer.prompt({
				title: title,
				value: val,
				yes: function(index, layero) {
					// 获取文本框输入的值
					var value = layero.find(".layui-layer-input").val();
					if (value!='') {
						let callback = function (e) {
							layer.msg(e.msg);
							if(e.code==0){
								location.reload();
							}
						}
						tool.post("/disk/index/add_group", {id: id,title: value}, callback);
						layer.close(index);
					} else {
						layer.msg('请填写共享空间名称');
					}
				}
			})
		}
		
		function del_group(id) {
			layer.confirm('确定要删除该共享空间吗？请慎重', { icon: 3, title: '提示' }, function (index) {
				let callback = function (e) {
					layer.closeAll();
					layer.msg(e.msg);
					if(e.code==0){
						location.reload();
					}
				}
				tool.delete("/disk/index/del_group", {id:id}, callback);
			});
		}
		
		function get_group(){
			$.ajax({
				url:"/disk/api/get_group",
				success:function(res){
					if(res.code==0){
						var group=res.data,item='';
						if(group.length>0){
							for(var a=0;a<group.length;a++){
								item+='<li data-id="'+group[a].id+'" data-title="'+group[a].title+'"><i class="layui-icon layui-icon-component"></i><span>'+group[a].title+'</span><i class="layui-icon layui-icon-more-vertical dropdown-on"></i></li>';
							}
							$('#group').append(item);
							fileGroup = fileGroup.concat(group);
							// 自定义事件
							dropdown.render({
								elem: '.dropdown-on',
								trigger: 'hover',
								align: 'right',
								data: [{
								  title: '重命名共享空间',
								  id: 100
								},{
								  title: '删除该共享空间',
								  id: 101
								},{
								  title: '设置空间成员',
								  id: 102
								},{
								  title: '设置空间管理员',
								  id: 103
								}],
								click: function(data, othis){
									let id = $(this.elem).parent().data('id');
									let title = $(this.elem).parent().data('title');
									if(data.id==100){
										add_group(id,title);
									}else if(data.id==101){
										del_group(id);
									}else if(data.id==102){
										tool.side('/disk/api/memberlist?id='+id);
									}else if(data.id==103){
										tool.side('/disk/api/adminlist?id='+id);
									}														
								}
							});
						}
					}
				}
			});
		}
		
		//加载数据
		var data = form.val('barsearchform');
		if(types==1){
			get_files(data);
		}
		get_group();
		
		form.on('submit(webform)', function (data) {
			if(types==1){
				get_files(data.field);
			}
			else{
				layui.fileTable.reload({
					where: data.field,
					page: {curr: 1}
				});
			}
			return false;
		});
		
		$('.layui-btn-reset').click(function(){
			setTimeout(function(){
				$('[lay-filter="webform"]').click();
			},200)
		})
		
		function get_files(param){
			var loadIndex = layer.load(0);
			$.ajax({
				url:"/disk/index/sharelist",
				data:param,
				complete:function(){
					layer.close(loadIndex)
				},
				success:function(res){
					$('[name="select_all"]').prop('checked', false);
					form.render('checkbox');
					if(res.code==0){
						laypage.render({
							elem: 'laypage',
							limit:param['limit'],
							curr:param['page'],
							count: res.count, // 数据总数
							jump: function(obj, first){
								//console.log(obj.curr); // 得到当前页，以便向服务端请求对应页的数据。
								//console.log(obj.limit); // 得到每页显示的条数
								// 首次不执行
								if(!first){
									var data = form.val('barsearchform');
									data['page'] = obj.curr;
									get_files(data);
								}
							}
						});

						let folder = res.totalRow;
						let folderHtml='<i class="layui-icon layui-icon-windows"></i> <a href="javascript:void(0);" data-id="0">'+$('[name="group_name"]').val()+'</a>';
						if(folder.length>0){
							for(var f=0;f<folder.length;f++){
								folderHtml+='<span> 〉</span><a href="javascript:void(0);" data-id="'+folder[f].id+'">'+folder[f].name+'</a>';
							}
						}
						$('#diskPath').html(folderHtml);
					
						var item=res.data,li='';
						if(item.length>0){
							for(var a=0;a<item.length;a++){								
								let fileitem = fileDo(item[a]);
								ctrl = '<span class="layui-btn layui-btn-xs layui-btn-normal file-ctrl" data-ctrl="disk" data-fileid="'+item[a].id+'" data-actionid="'+item[a].action_id+'" data-href="'+item[a].filepath+'" data-filename="'+item[a].name+'" data-ext="'+fileitem.ext+'" data-type="'+fileitem.type+'">操作</span>';
								
								li+='<li data-id="'+item[a].id+'" data-title="'+item[a].name+'" data-ext="'+item[a].file_ext+'" data-types="'+item[a].types+'"><img src="'+fileitem.path+'" alt="'+item[a].name+'" style="object-fit: contain;" class="file-item file-'+fileitem.ext+'" data-href="'+item[a].filepath+'" data-ext="'+fileitem.ext+'"><p title="'+item[a].name+'">'+item[a].name+'</p>\
									<div class="layui-btn-ctrl">'+ctrl+'\
									<span class="name-edit" style="display:none;" id="fileEdit'+item[a].id+'" title="重命名"></span>\
									<span class="file-delete" style="display:none;" id="fileDel'+item[a].id+'" title="删除"></span>\
									<span class="file-move" style="display:none;" id="fileMove'+item[a].id+'" title="移动"></span>\
									</div>';
							}
							$('#filesBox').html(li);
							$('#laypage').show();
						}
						else{
							$('#filesBox').html('<div class="empty"><i class="layui-icon layui-icon-upload"></i><p>无文件文件，赶紧去上传吧!</p></div>');
							$('#laypage').hide();
						}
					}	
				}				
			});
		}
		
		//列表数据加载
		layui.fileTable = table.render({
			elem: "#table_list"
			,toolbar: false
			,url: "/disk/index/sharelist"
			,page: true
			,limit: 30
			,where:data
			,cellMinWidth: 80
			,height: 'full-156'
			,skin:'line'
			,size:'lg'
			,cols: [[
				{field:'name',title: '文件名',minWidth:240,templet:function(d){
					let fileitem = fileDo(d);
					return '<div data-id="'+d.id+'"><div class="file-item file-item-'+fileitem.ext+'" data-href="'+d.filepath+'" data-ext="'+fileitem.ext+'"><div style="float:left; width:33px; height:33px; margin-right:10px; margin-left:3px;"><img src="'+fileitem.path+'" style="width:100%; height:100%; vertical-align:top;object-fit: cover;" /></div><span>'+d.name+'</span></div></div>';
				}}
				,{field:'file_size',title: '文件大小',align: 'center',width: 120,templet:function(d){
					if(d.file_size>0){
						return tool.renderSize(d.file_size);
					}else{
						return '-';
					}
				}}
				,{field:'admin_name',title: '创建人',width:100,align:'center'}
				,{field:'create_time', title: '创建时间',width:150,align:'center'}
				,{width:100,fixed:'right',title: '操作', align:'center',ignoreExport:true,templet: function(d){
					let fileitem = fileDo(d);
					var ctrl = '<div data-id="'+d.id+'" data-title="'+d.name+'" data-ext="'+d.file_ext+'" data-types="'+d.types+'"><span class="layui-btn layui-btn-xs layui-btn-normal file-ctrl" data-ctrl="disk" data-fileid="'+d.id+'" data-actionid="'+d.action_id+'" data-href="'+d.filepath+'" data-filename="'+d.name+'" data-ext="'+fileitem.ext+'" data-type="'+fileitem.type+'">操作</span><div style="display:none"><span class="name-edit" id="fileEdit'+d.id+'" title="重命名"></span>\
					<span class="file-delete" id="fileDel'+d.id+'" title="删除"></span>\
					<span class="file-move" id="fileMove'+d.id+'" title="移动"></span></div></div>';
					return ctrl
				}}
			]],
			done:function(res){
				let folder = res.totalRow;
				let folderHtml='<i class="layui-icon layui-icon-windows"></i> <a href="javascript:void(0);" data-id="0">共享空间</a>';
				if(folder.length>0){
					for(var f=0;f<folder.length;f++){
						folderHtml+='<span> 〉</span><a href="javascript:void(0);" data-id="'+folder[f].id+'">'+folder[f].name+'</a>';
					}
				}
				$('#diskPath').html(folderHtml);
			}
		});
	}
</script>
{/block}
<!-- /脚本 -->