{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}

<div class="p-page">
	<form id="analysisForm" class="layui-form gg-form-bar mb-2" style="box-shadow: 0 1px 3px 0 rgb(5 32 96 / 10%);">
		<div class="layui-input-inline" style="width:100px;">
			<input type="text" class="layui-input tool-time" data-type="year" placeholder="选择年度" readonly name="year" value="{:date('Y')}">
		</div>
		<div class="layui-input-inline" style="width: 180px;">
			<input type="text" value="" readonly placeholder="选择部门" class="layui-input picker-oa" data-types="department" />
			<input type="text" name="did" value="0" readonly style="display:none;"/>
		</div>
		<div class="layui-input-inline" style="width: 120px;">
			<input type="text" value="" readonly placeholder="选择员工" class="layui-input picker-admin"/>
			<input type="text" name="uid" value="0" readonly style="display:none;"/>
			<input type="text" name="types" value="1" readonly style="display:none;"/>
		</div>
		<div class="layui-input-inline" style="width: 150px;">
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">提交查询</button>
			<button type="reset" class="layui-btn layui-btn-reset" lay-filter="reset">重置</button>
		</div>
	</form>
	<div class="layui-row layui-col-space12">	
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body">
					<div id="chartA" class="chart-box" style="width: 100%;height:480px;" data-type="bar" data-types="1" data-url="/analysis/api/sale_order"></div>
				</div>
			</div>
		</div>
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body">
					<div id="chartB" class="chart-box" style="width: 100%;height:480px;" data-type="bar" data-types="2" data-url="/analysis/api/sale_order"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script src="/static/assets/third_party/echart/echarts.min.js"></script>
<script>
	const moduleInit = ['tool','laydatePlus','oaPicker'];

    var chartsData={
		"title": {
			"text": "销售订单分析"
		},
		"legend": [],
		"xaxis": [],
		"series": []
	};
 	
	//加载有数据
    function initBoxData() {
		var index = layer.load(0, {shade: false});
		  setTimeout(function(){
			layer.close(index);
		}, 1000);
        $('.chart-box').each(function(){
            var id  =$(this).attr("id");
            ajaxCharts(id);
        });
    }
	
    function ajaxCharts(id) {
        var that=$('#'+id+'');
        var type=that.data('type');
        var types=that.data('types');
        var target=that.attr('data-url');
		$('[name="types"]').val(types);
        var searchData=$('#analysisForm').serialize();
        $.ajax({
            type: "POST",
            url: target,
            data: searchData,
            dataType: "json",
            async: false,
            success: function (e) {
				if(e.code==0){
					chartsData=e.data;
				}
            },
            complete: function () {

            }
        });
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById(id));
        switch (type) {
            case 'bar':
                option = {
                    title: {
                        text: chartsData.title.text
                    },
					grid: {
						top: '60px',
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					},
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    legend: {
                        data: chartsData.legend
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: chartsData.xaxis,
                            axisPointer: {
                                type: 'shadow'
                            }
                        }
                    ],
                    yAxis:chartsData.yaxis,
                    series:chartsData.series
                };

             // 使用刚指定的配置项和数据显示图表。
             myChart.setOption(option);
             break;
        }

    }
	function gouguInit() {
		var table = layui.tablePlus, tool = layui.tool,form  = layui.form, laydatePlus = layui.laydatePlus;
		var diff_time = new laydatePlus({'target':'diff_time'});
		initBoxData();
		//监听提交
		form.on('submit(webform)', function (data) {
			initBoxData();
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->